.news-section {
	.heading-large,
	.heading-medium,
	.heading-small {
		margin-top: 20px;
	}
}

.hero-news {
	background-color: $brand_chrome_a;
	padding: 30px;
	margin-bottom: 30px;

	@extend %clearfix;

	.news-item {
		margin-bottom: 0;
	}
}

.hero-news-copy {
	box-sizing: border-box;

	@media (min-width: $screen_medium) {
		float: left;
		width: 33.3333%;
	}
}

.hero-news-excerpt p {
	font-size: $text_small;
	line-height: 32px;
}

.hero-news-image-container {
	box-sizing: border-box;
	margin-top: 10px;

	@media (min-width: $screen_medium) {
		float: left;
		width: 66.6666%;
		margin-top: 0px;
		padding-left: 100px;
	}
}

.news-category-count {
	color: $brand_chrome_b;
}

.news-item {
	p {
		font-size: $text_small;
		line-height: $text_medium;
		&.wp-caption-text {
			background-color: #F8F8F8;
			font-size: $text_xsmall;
			line-height: 1.25; 
			margin: 0 0 30px 0;
			padding: 20px;
		}
	}
	img, .wp-caption {
		border: 0;
		margin: 0;
		padding: 0;
		max-width: 100%;
	}
}

.news-item-excerpt {
	p {
		font-size: $text_small;
		line-height: $text_medium;
	}
}

.news-item-image-container {
	max-width: 100%;
	img {
		max-width: 100%;
	}
}

a.cta-read-more {
	font-size: $text_xsmall;
	font-weight: 600;
}

a.cta-comments {
	font-size: $text_xsmall;
	font-weight: 100;
	color: $brand_chrome_c;
}

.news-section {
	.news-category {
		.rule-large {
			margin-top: 0;
		}
	}

	.news-item {
		.heading-small,
		.heading-large,
		.rule-small {
			margin-top: 0px;
		}
	}
}

@media (min-width: $screen_medium) {
	.news-section {
		.news-item {
			&:first-child {
				.heading-medium {
					margin-top: 0;
					padding-top: 0;
				}
			}
		}
	}
}
