/= render partial: "widgets/zendesk_header"

%div{:id => 'page', :class => 'page-content'}
  - if flash[:notice]
    .zd-confirmation
      %span
        = flash[:notice]

  %main#content.root-index
    .grid-row
      .column-full
        %h2.heading-medium
          = @slug
    .grid-row
      .column-full
        - if @posts.present?
          - @posts.each do |p|
            = p

= render partial: "widgets/zendesk_footer"
