= render partial: "widgets/zendesk_header"
%div{:id => 'page', :class => 'page-content'}
  %main#content.root-index
    .grid-row
      .column-full
        %h2.heading-medium
          = @slug
    .grid-row
      .column-full
        - @posts.each do |p|
          = p

= render partial: "widgets/zendesk_footer"
