---
http_interactions:
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/menus?slug=footer-menu-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":228,"date":"2017-10-05T10:53:37","date_gmt":"2017-10-05T09:53:37","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=menus&#038;p=228"},"modified":"2017-10-05T10:53:37","modified_gmt":"2017-10-05T09:53:37","slug":"footer-menu-1","status":"publish","type":"menus","link":"https:\/\/uat-dit.useconnect.co.uk\/menus\/footer-menu-1\/","title":{"rendered":"footer-menu-1"},"template":"","acf":{"menu":[{"menu_item":{"title":"Access
        the intranet","url":"https:\/\/uat-dit.useconnect.co.uk\/access-the-intranet\/","target":""}},{"menu_item":{"title":"Raise
        a purchase order","url":"https:\/\/uat-dit.useconnect.co.uk\/raise-a-purchase-order\/","target":""}}]},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/228"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/menus"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/228\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=228"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
  recorded_at: Mon, 09 Oct 2017 11:09:17 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=antonia&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":164,"date":"2017-10-05T10:37:05","date_gmt":"2017-10-05T09:37:05","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?page_id=164"},"modified":"2017-10-06T11:12:17","modified_gmt":"2017-10-06T10:12:17","slug":"chief-trade-negotiation-adviser-starts-at-the-department-for-international-trade","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/chief-trade-negotiation-adviser-starts-at-the-department-for-international-trade\/","title":{"rendered":"Chief
        Trade Negotiation Adviser starts at the Department for International Trade"},"content":{"rendered":"<div
        class=\"column-two-thirds \">\n<div class=\"govuk-govspeak direction-ltr\">\n<div
        class=\"govspeak\">\n<p>An internationally recognised trade expert with over
        25 years of experience, Crawford will lead trade policy and the development
        of trade negotiation capability at <abbr title=\"Department for International
        Trade\">DIT<\/abbr>, following a global recruitment campaign by the department.<\/p>\n<p>As
        Chief Trade Negotiation Adviser and Second Permanent Secretary, Crawford will
        be the UK government\u2019s expert on trade negotiation and strategy, and
        the principal adviser to the International Trade Secretary on striking trade
        agreements and market access deals with the UK\u2019s global trading partners.<\/p>\n<p>Crawford
     [...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=departmental&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '2'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
    [...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=ministers&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      C[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?order=desc&orderby=date&per_page=20&type=howto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '20'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":220,"date":"2017-10-05T10:45:36","date_gmt":"2017-10-05T09:45:36","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?page_id=220"},"modified":"2017-10-05T10:45:36","modified_gmt":"2017-10-05T09:45:36","slug":"find-up-to-date-statistics","status":"publish","type":"howto","link":"https:\/\/uat-dit.useconnect.co.uk\/find-up-to-date-statistics\/","title":{"rendered":"Find
        up to date statistics"},"content":{"rendered":"","protected":false},"excerpt":{"rendered":"","protected":false},"author":1,"featured_media":0,"parent":0,"menu_order":0,"comment_status":"closed","ping_status":"closed","template":"templates\/howto.php","meta":[],"general_taxonomy":[],"news_category":[],"acf":{"image":false,"excerpt":""},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/pages\/220"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/page"}],"author":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/users\/1"}],"replies":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments?post=220"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/pages\/220\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=220"}],"wp:term":[{"taxonomy":"general_taxonomy","embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/general_taxonomy?post=220"},{"taxonomy":"news_category","embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_category?post=220"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":218,"date":"2017-10-05T10:45:24","date_gmt":"2017-10-05T09:45:24","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?page_id=218"},"modified":"2017-1[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/popular_pages?_embed&order=asc&orderby=menu_order&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":139,"date":"2017-10-03T12:27:40","date_gmt":"2017-10-03T11:27:40","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular_pages&#038;p=139"},"modified":"2017-10-03T12:27:50","modified_gmt":"2017-10-03T11:27:50","slug":"139","status":"publish","type":"popular_pages","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_pages\/139\/","title":{"rendered":"How
        are we structured"},"menu_order":0,"template":"","acf":{"page":null,"image":{"ID":140,"id":140,"title":"HowStructured","filename":"HowStructured.png","url":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","alt":"","author":"1","description":"","caption":"","name":"howstructured","date":"2017-10-03
        11:27:32","modified":"2017-10-03 11:27:32","mime_type":"image\/png","type":"image","icon":"https:\/\/uat-dit.useconnect.co.uk\/wp-includes\/images\/media\/default.png","width":300,"height":192,"sizes":{"thumbnail":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured-150x150.png","thumbnail-width":150,"thumbnail-height":150,"medium":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured-300x192.png","medium-width":300,"medium-height":192,"medium_large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","medium_large-width":300,"medium_large-height":192,"large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","large-width":300,"large-height":192}},"excerpt":"How
        are we structured"},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages\/139"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/popular_pages"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=139"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","te[...]
- request:
    method: get
    uri: https://peoplefinder-dev.herokuapp.com/api/people/?email=alice@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=17bb94d536019d55d58753a4caff75eb96169cb3f2ff8df7e6736d137de08eef2e28e4b2799c87f622dce656acb2f209cfc929bdc1a574848abf32138de7c3d0
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da86092e97fc92f4b6ce7d257b9c0cfc"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"19","type":"people","attributes":{"email":"alice@example.com","name":"Alice
        Arnold","team":"PM","completion-score":56},"links":{"profile":"https://peoplefinder-dev.herokuapp.com/people/test1","edit-profile":"https://peoplefinder-dev.herokuapp.com/people/test1/edit","profile-image-url":"https://dit-peoplefinder-dev.s3-eu-west-1.amazonaws.com/uploads/peoplefinder/profile_photo/image/13/small_sample.png?X-Amz-Expires=600\u0026X-Amz-Date=20171009T110919Z\u0026X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAJN33V4QRZYFV3ARA/20171009/eu-west-1/s3/aws4_request\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=3ed42e8a8db46d26ddc9967cefff2e2131f811ddebe8fa69dfeabde50297fd3a"}}}'
  recorded_at: Mon, 09 Oct 2017 11:09:19 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MldyYmI1WkhrRHJzdVRxYWRaaGpaZDUzVzpxcjdxVVpMaXhxZzZjZkt4OXU4NkFxTGxFeHROSmZYdDM1U2x3bGpJSTlSVFhXZ0ZaMQ==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 09 Oct 2017 11:09:19 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - ced2db518f44775cfef89d705941ea92
      X-Response-Time:
      - '121'
      X-Transaction:
      - 00672a820047bc90
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW"}'
  recorded_at: Mon, 09 Oct 2017 11:09:19 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=GOVUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 09 Oct 2017 11:09:20 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 8eca0037136858a41fc90e20ce9d6193
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1499'
      X-Rate-Limit-Reset:
      - '1507548259'
      X-Response-Time:
      - '263'
      X-Transaction:
      - '0018c96b00cdf007'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Oct 05 09:50:55 +0000 2017","id":915876949947568129,"id_str":"915876949947568129","text":"Do
        you run a business from home or are thinking of setting one up? Find out which
        permissions and insurance you nee\u2026 https:\/\/t.co\/KSKK9agcZh","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/KSKK9agcZh","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/915876949947568129","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17481977,"id_str":"17481977","name":"GOV
        UK","screen_name":"GOVUK","location":"UK","description":"Official twitter
        channel for GOV.UK - the best place to find UK government services and information.
        See our social media house rules: https:\/\/t.co\/hWn1BrJ50t","url":"http:\/\/t.co\/CyQOW89elo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CyQOW89elo","expanded_url":"http:\/\/www.GOV.UK","display_url":"GOV.UK","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/hWn1BrJ50t","expanded_url":"https:\/\/gdsengagement.blog.gov.uk\/2014\/03\/26\/social-media-house-rules\/","display_url":"gdsengagement.blog.gov.uk\/2014\/03\/26\/soc\u2026","indices":[135,158]}]}},"protected":false,"followers_count":1510628,"friends_count":1742,"listed_count":2848,"created_at":"Wed
        Nov 19 07:25:05 +0000 2008","favourites_count":88,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":9170,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EEEEEE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17481977\/1415625071","profile_link_color":"FF5900","profile_sidebar_border_color":"FF5900","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":21,"favorite_count":18,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Tue
        Oct 03 08:15:26 +0000 2017","id":915128145241616385,"id_str":"915128145241616385","text":"Search
        and apply for full or part-time jobs with Universal Jobmatch: https:\/\/t.co\/08mrmwfoVN
        https:\/\/t.co\/aMU8ctDlRf","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/08mrmwfoVN","expanded_url":"https:\/\/www.gov.uk\/jobsearch?utm_source=govuktwitter","display_url":"gov.uk\/jobsearch?utm_\u2026","indices":[69,92]}],"media":[{"id":915128053134741514,"id_str":"915128053134741514","indices":[93,116],"media_url":"http:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","url":"https:\/\/t.co\/aMU8ctDlRf","display_url":"pic.twitter.com\/aMU8ctDlRf","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/915128145241616385\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":678,"resize":"fit"},"small":{"w":680,"h":384,"resize":"fit"},"large":{"w":1200,"h":678,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":915128053134741514,"id_str":"915128053134741514","indices":[93,116],"media_url":"http:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","url":"https:\/\/t.co\/aMU8ctDlRf","display_url":"pic.twitter.com\/aMU8ctDlRf","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/915128145241616385\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":678,"resize":"fit"},"small"[...]
