---
http_interactions:
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news?_embed&filter%5Bnews_category%5D=antonia&order=desc&orderby=date&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news?orderby=date&order=desc&per_page=2&filter%5Bnews_category%5D=antonia&_embed&page=2>;
        rel="next"
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":46,"date":"2017-09-29T11:35:55","date_gmt":"2017-09-29T10:35:55","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=news&#038;p=46"},"modified":"2017-09-29T14:35:47","modified_gmt":"2017-09-29T13:35:47","slug":"chief-trade-negotiation-adviser-starts-at-the-department-for-international-trade","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/news\/chief-trade-negotiation-adviser-starts-at-the-department-for-international-trade\/","title":{"rendered":"Chief
        Trade Negotiation Adviser starts at the Department for International Trade"},"content":{"rendered":"<div
        class=\"column-two-thirds \">\n<div class=\"govuk-govspeak direction-ltr\">\n<div
        class=\"govspeak\">\n<p>An internationally recognised trade expert with over
        25 years of experience, Crawford will lead trade policy and the development
        of trade negotiation capability at <abbr title=\"Department for International
        Trade\">DIT<\/abbr>, following a global recruitment campaign by the department.<\/p>\n<p>As
        Chief Trade Negotiation Adviser and Second Permanent Secretary, Crawford will
        be the UK government\u2019s expert on trade negotiation and strategy, and
        the principal adviser to the International Trade Secretary on striking trade
        agreements and market access deals with the UK\u2019s global trading partners.<\/p>\n<p>Crawford
     [...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news?_embed&filter%5Bnews_category%5D=departmental&order=desc&orderby=date&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '2'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-T[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news?_embed&filter%5Bnews_category%5D=ministers&order=desc&orderby=date&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '2'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/how_tos?order=desc&orderby=date&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '20'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":137,"date":"2017-10-03T12:26:07","date_gmt":"2017-10-03T11:26:07","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=how_tos&#038;p=137"},"modified":"2017-10-03T12:26:07","modified_gmt":"2017-10-03T11:26:07","slug":"register-an-event-on-great","status":"publish","type":"how_tos","link":"https:\/\/uat-dit.useconnect.co.uk\/how_tos\/register-an-event-on-great\/","title":{"rendered":"Register
        an event on GREAT"},"content":{"rendered":"","protected":false},"excerpt":{"rendered":"","protected":false},"author":1,"menu_order":0,"comment_status":"open","ping_status":"closed","template":"","acf":{"featured_image":false},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/how_tos\/137"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/how_tos"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/how_tos"}],"author":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/users\/1"}],"replies":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments?post=137"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/how_tos\/137\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=137"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":135,"date":"2017-10-03T12:25:28","date_gmt":"2017-10-03T11:25:28","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=how_tos&#038;p=135"},"modified":"2017-10-03T12:25:28","modified_gmt":"2017-10-03T11:25:28","slug":"join-staff-networks-2","status":"publish","type":"how_tos","link":"https:\/\/uat-dit.useconnect.co.uk\/how_tos\/join-staff-networks-2\/","title":{"rendered":"Join
        staff networks"},"content":{"rendered":"","protected":false},"excerpt":{"rendered"[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/popular_pages?_embed&order=asc&orderby=menu_order&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":139,"date":"2017-10-03T12:27:40","date_gmt":"2017-10-03T11:27:40","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular_pages&#038;p=139"},"modified":"2017-10-03T12:27:50","modified_gmt":"2017-10-03T11:27:50","slug":"139","status":"publish","type":"popular_pages","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_pages\/139\/","title":{"rendered":"How
        are we structured"},"menu_order":0,"template":"","acf":{"page":"https:\/\/uat-dit.useconnect.co.uk\/test-page\/","image":{"id":140,"alt":"","title":"HowStructured","caption":"","description":"","mime_type":"image\/png","url":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","width":300,"height":192,"sizes":{"thumbnail":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured-150x150.png","thumbnail-width":150,"thumbnail-height":150,"medium":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured-300x192.png","medium-width":300,"medium-height":192,"medium_large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","medium_large-width":300,"medium_large-height":192,"large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","large-width":300,"large-height":192}},"excerpt":"How
        are we structured"},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages\/139"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/popular_pages"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=139"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","te[...]
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MldyYmI1WkhrRHJzdVRxYWRaaGpaZDUzVzpxcjdxVVpMaXhxZzZjZkt4OXU4NkFxTGxFeHROSmZYdDM1U2x3bGpJSTlSVFhXZ0ZaMQ==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 04 Oct 2017 08:55:44 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 7d67a0740482acdf5727c8c70c204bc0
      X-Response-Time:
      - '120'
      X-Transaction:
      - 0074f11d00fc3f9c
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW"}'
  recorded_at: Wed, 04 Oct 2017 08:55:47 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=GOVUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 04 Oct 2017 08:55:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 892ac79ddb4aa5d18956619c2e5bcd58
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1499'
      X-Rate-Limit-Reset:
      - '1507108244'
      X-Response-Time:
      - '151'
      X-Transaction:
      - 00a4092000d39ecf
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Oct 03 08:15:26 +0000 2017","id":915128145241616385,"id_str":"915128145241616385","text":"Search
        and apply for full or part-time jobs with Universal Jobmatch: https:\/\/t.co\/08mrmwfoVN
        https:\/\/t.co\/aMU8ctDlRf","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/08mrmwfoVN","expanded_url":"https:\/\/www.gov.uk\/jobsearch?utm_source=govuktwitter","display_url":"gov.uk\/jobsearch?utm_\u2026","indices":[69,92]}],"media":[{"id":915128053134741514,"id_str":"915128053134741514","indices":[93,116],"media_url":"http:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","url":"https:\/\/t.co\/aMU8ctDlRf","display_url":"pic.twitter.com\/aMU8ctDlRf","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/915128145241616385\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":678,"resize":"fit"},"small":{"w":680,"h":384,"resize":"fit"},"large":{"w":1200,"h":678,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":915128053134741514,"id_str":"915128053134741514","indices":[93,116],"media_url":"http:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DLMwHaMXUAomk3R.jpg","url":"https:\/\/t.co\/aMU8ctDlRf","display_url":"pic.twitter.com\/aMU8ctDlRf","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/915128145241616385\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":678,"resize":"fit"},"small":{"w":680,"h":384,"resize":"fit"},"large":{"w":1200,"h":678,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17481977,"id_str":"17481977","name":"GOV
        UK","screen_name":"GOVUK","location":"UK","description":"Official twitter
        channel for GOV.UK - the best place to find UK government services and information.
        See our social media house rules: https:\/\/t.co\/hWn1BrJ50t","url":"http:\/\/t.co\/CyQOW89elo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CyQOW89elo","expanded_url":"http:\/\/www.GOV.UK","display_url":"GOV.UK","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/hWn1BrJ50t","expanded_url":"https:\/\/gdsengagement.blog.gov.uk\/2014\/03\/26\/social-media-house-rules\/","display_url":"gdsengagement.blog.gov.uk\/2014\/03\/26\/soc\u2026","indices":[135,158]}]}},"protected":false,"followers_count":1509213,"friends_count":1742,"listed_count":2846,"created_at":"Wed
        Nov 19 07:25:05 +0000 2008","favourites_count":86,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":9144,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EEEEEE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17481977\/1415625071","profile_link_color":"FF5900","profile_sidebar_border_color":"FF5900","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":12,"favorite_count":17,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Sep 29 09:45:56 +0000 2017","id":913701369093206016,"id_str":"913701369093206016","text":"Find
        school term, half term and holiday dates using https:\/\/t.co\/niOpQfWram
        https:\/\/t.co\/nQTifXOmzz","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/niOpQfWram","expanded_url":"https:\/\/www.gov.uk\/school-term-holiday-dates?utm_source=govuktwitter","display_url":"gov.uk\/school-te[...]
