---
http_interactions:
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news?_embed&order=desc&orderby=date&per_page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news?orderby=date&order=desc&per_page=2&_embed&page=2>;
        rel="next"
      X-Wp-Total:
      - '6'
      X-Wp-Totalpages:
      - '3'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":54,"date":"2017-09-29T11:49:19","date_gmt":"2017-09-29T10:49:19","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=news&#038;p=54"},"modified":"2017-09-29T14:35:01","modified_gmt":"2017-09-29T13:35:01","slug":"whisky-galore-bid-to-make-uk-exports-like-scottish-tipple-flow-freely","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/news\/whisky-galore-bid-to-make-uk-exports-like-scottish-tipple-flow-freely\/","title":{"rendered":"Whisky
        galore! Bid to make UK exports like Scottish tipple flow freely"},"content":{"rendered":"<div
        class=\"column-two-thirds \">\n<div class=\"govuk-govspeak direction-ltr\">\n<div
        class=\"govspeak\">\n<p>The UK government has set its sights on reducing high
        tariffs as part of a drive to boost overseas trade in world-renowned UK products
        such as Scotch whisky, International Trade Secretary Dr Liam Fox said today.<\/p>\n<p>Work
        is underway at the Department for International Trade (<abbr title=\"Department
        for International Trade\">DIT<\/abbr>) to make it easier for UK companies
        to benefit from further trading opportunities across the world post-Brexit.<\/p>\n<p>The
        announcement comes as Scottish Secretary David Mundell meets with representatives
        of the Scotch Whisky Association and Diageo at the iconic Caol Ila distillery
        in Islay today, to discuss how the UK government is laying the groundwork
        to reduce export tariffs on unique S[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/how_tos?order=desc&orderby=date&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '8'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":75,"date":"2017-09-29T13:42:23","date_gmt":"2017-09-29T12:42:23","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=how_tos&#038;p=75"},"modified":"2017-09-29T13:42:23","modified_gmt":"2017-09-29T12:42:23","slug":"access-e-learning-and-other-training","status":"publish","type":"how_tos","link":"https:\/\/uat-dit.useconnect.co.uk\/how_tos\/access-e-learning-and-other-training\/","title":{"rendered":"Access
        e-learning and other training"},"content":{"rendered":"","protected":false},"excerpt":{"rendered":"","protected":false},"author":1,"menu_order":0,"comment_status":"open","ping_status":"closed","template":"","acf":{"featured_image":false},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/how_tos\/75"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/how_tos"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/how_tos"}],"author":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/users\/1"}],"replies":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments?post=75"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/how_tos\/75\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=75"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":73,"date":"2017-09-29T13:42:14","date_gmt":"2017-09-29T12:42:14","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=how_tos&#038;p=73"},"modified":"2017-09-29T13:42:14","modified_gmt":"2017-09-29T12:42:14","slug":"use-the-printers","status":"publish","type":"how_tos","link":"https:\/\/uat-dit.useconnect.co.uk\/how_tos\/use-the-printers\/","title":{"rendered":"Use
        the printers"},"content":{"rendered":"","protected":false},"excerpt":{"rendered":"","protected"[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/popular_pages?_embed&order=asc&orderby=menu_order&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/wp/v2/popular_pages?orderby=menu_order&order=asc&per_page=3&_embed&page=2>;
        rel="next"
      X-Wp-Total:
      - '4'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":87,"date":"2017-10-02T12:16:54","date_gmt":"2017-10-02T11:16:54","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular_pages&#038;p=87"},"modified":"2017-10-02T12:16:54","modified_gmt":"2017-10-02T11:16:54","slug":"this-is-popular","status":"publish","type":"popular_pages","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_pages\/this-is-popular\/","title":{"rendered":"This
        is popular"},"menu_order":0,"template":"","acf":{"page":"https:\/\/uat-dit.useconnect.co.uk\/how_tos\/access-e-learning-and-other-training\/","image":{"id":85,"alt":"","title":"Flight
        Paths - world - A3 size","caption":"Flight Paths - world - A3 size","description":"","mime_type":"image\/jpeg","url":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/s300_Flight-Path-World-govuk-2.jpg","width":300,"height":195,"sizes":{"thumbnail":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/s300_Flight-Path-World-govuk-2-150x150.jpg","thumbnail-width":150,"thumbnail-height":150,"medium":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/s300_Flight-Path-World-govuk-2-300x195.jpg","medium-width":300,"medium-height":195,"medium_large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/s300_Flight-Path-World-govuk-2.jpg","medium_large-width":300,"medium_large-height":195,"large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/s300_Flight-Path-World-govuk-2.jpg","large-width":300,"large-height":195}},"excerpt":"Excerpt"},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages\/87"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/popular_pages"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=87"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":[...]
