---
http_interactions:
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email="
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 06 Dec 2017 15:46:10 GMT
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=alice@example.com"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 06 Dec 2017 15:46:11 GMT
- request:
    method: get
    uri: "<WP_API_URL>news"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '8'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Dec 2017 15:46:12 GMT
- request:
    method: get
    uri: "<WP_API_URL>comments"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '21'
      X-Wp-Totalpages:
      - '3'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Dec 2017 15:46:13 GMT
- request:
    method: get
    uri: "<WP_API_URL>howdoi?order=desc&orderby=menu_order&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '14'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Dec 2017 15:46:14 GMT
- request:
    method: get
    uri: "<WP_API_URL>popular_pages?_embed&order=asc&orderby=menu_order&per_page=3"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Dec 2017 15:46:15 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/dit/v1/visualisation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"image":{"ID":12692,"id":12692,"title":"visualisation1","filename":"visualisation1.png","url":"https:\/\/dit-workspace-staging.s3-eu-west-1.amazonaws.com\/wp-content\/uploads\/2017\/12\/06100755\/visualisation1.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIBGJDZ6XYFQH4R6A%2F20171206%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20171206T154615Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=900&X-Amz-Signature=99711a12b31ba874621a9dc066b41408286bfa7f6775c533dd5c890a8eb9845d","alt":"","author":"1","description":"","caption":"","name":"visualisation1","date":"2017-12-06
        10:07:53","modified":"2017-12-06 10:07:53","mime_type":"image\/png","type":"image","icon":"\/wp-includes\/images\/media\/default.png","width":227,"height":154,"sizes":{"thumbnail":"https:\/\/dit-workspace-staging.s3-eu-west-1.amazonaws.com\/wp-content\/uploads\/2017\/12\/06100755\/visualisation1.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIBGJDZ6XYFQH4R6A%2F20171206%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20171206T154615Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=900&X-Amz-Signature=99711a12b31ba874621a9dc066b41408286bfa7f6775c533dd5c890a8eb9845d","thumbnail-width":150,"thumbnail-height":102,"medium":"https:\/\/dit-workspace-staging.s3-eu-west-1.amazonaws.com\/wp-content\/uploads\/2017\/12\/06100755\/visualisation1.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIBGJDZ6XYFQH4R6A%2F20171206%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20171206T154615Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=900&X-Amz-Signature=99711a12b31ba874621a9dc066b41408286bfa7f6775c533dd5c890a8eb9845d","medium-width":227,"medium-height":154,"medium_large":"https:\/\/dit-workspace-staging.s3-eu-west-1.amazonaws.com\/wp-content\/uploads\/2017\/12\/06100755\/visualisation1.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIBGJDZ6XYFQH4R6A%2F20171206%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20171206T154615Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=900&X-Amz-Signature=99711a12b31ba874621a9dc066b41408286bfa7f6775c533dd5c890a8eb9845d","medium_large-width":227,"medium_large-height":154,"large":"https:\/\/dit-workspace-staging.s3-eu-west-1.amazonaws.com\/wp-content\/uploads\/2017\/12\/06100755\/visualisation1.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIBGJDZ6XYFQH4R6A%2F20171206%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20171206T154615Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=900&X-Amz-Signature=99711a12b31ba874621a9dc066b41408286bfa7f6775c533dd5c890a8eb9845d","large-width":227,"large-height":154}},"text":"people
        working at DIT - over 2000 have a people finder profile","link":{"title":"","url":"\/working-at-dit\/policies-and-guidance\/pensions\/","target":""}},{"image":{"ID":12693,"id":12693,"title":"visualisation2","filename":"visualisation2.png","url":"https:\/\/dit-workspace-staging.s3-eu-west-1.amazonaws.com\/wp-content\/uploads\/2017\/12\/06100756\/visualisation2.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIBGJDZ6XYFQH4R6A%2F20171206%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20171206T154615Z&X-Amz-SignedHeaders=Host&X-Amz-Expires=900&X-Amz-Signature=8430d4c9b3539818af245c1b74222f81cdda52e3a26b8022e1a682e8d1837637","alt":"","au[...]
- request:
    method: get
    uri: "<WP_API_URL>comments?per_page=100&post=12671"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '7'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Dec 2017 15:46:16 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic TjFYWUFaZU81V2JhalNYVXZqMnQxV3RRazo1cTRwOXY0ZjVUUU5aaGoyQUlXZU40ZXpieGxoMGNOdlRUcUpRcVZ6YUhoS3V1c1NJWA==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Dec 2017 15:46:16 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 9865179d546003742bba0438790a530d
      X-Response-Time:
      - '120'
      X-Transaction:
      - 00a3eebf007b6ced
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 06 Dec 2017 15:46:16 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=tradegovuk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAACnI3AAAAAAASKGIxn9it%2FNfZ50Jt72hjZO%2FO%2Bk%3D9widDtl6zLFOfz3WJM2BmfikHZlAZ8O39T1q2SZt7wczmJAKnf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 06 Dec 2017 15:46:17 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b8c3b90de2e67d3432d2301253189946
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1487'
      X-Rate-Limit-Reset:
      - '1512575641'
      X-Response-Time:
      - '195'
      X-Transaction:
      - 0054b6e4002c0894
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Dec 06 12:31:35 +0000 2017","id":938385429388197889,"id_str":"938385429388197889","text":".@LiamFox
        celebrates 200 years of David Ricardo\u2019s comparative advantage theory
        at the launch of DIT-sponsored e-boo\u2026 https:\/\/t.co\/5CZc9fghHd","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"LiamFox","name":"Dr
        Liam Fox MP","id":532241033,"id_str":"532241033","indices":[1,9]}],"urls":[{"url":"https:\/\/t.co\/5CZc9fghHd","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/938385429388197889","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[117,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14431752,"id_str":"14431752","name":"Department
        for International Trade","screen_name":"tradegovuk","location":"London","description":"Department
        for International Trade \u2013 helping businesses\nexport, driving investment,
        opening up markets and championing free trade","url":"https:\/\/t.co\/KMiwpagkWL","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/KMiwpagkWL","expanded_url":"http:\/\/www.gov.uk\/dit","display_url":"gov.uk\/dit","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":106101,"friends_count":3761,"listed_count":1990,"created_at":"Fri
        Apr 18 10:29:28 +0000 2008","favourites_count":689,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":19005,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/700441044\/4174d13512e47beb737fe6c0f8a92433.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/700441044\/4174d13512e47beb737fe6c0f8a92433.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/929987679701389312\/Pk9RsQfU_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/929987679701389312\/Pk9RsQfU_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14431752\/1509977613","profile_link_color":"CF102D","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E6F6F9","profile_text_color":"CC3366","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":8,"favorite_count":10,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Wed
        Dec 06 10:36:40 +0000 2017","id":938356510714888192,"id_str":"938356510714888192","text":"The
        UK is an attractive place for life sciences companies to invest - there are
        already over 5,000 life sciences co\u2026 https:\/\/t.co\/xXPZBGgSFx","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/xXPZBGgSFx","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/938356510714888192","dis[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=header-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 06 Dec 2017 15:46:18 GMT
recorded_with: VCR 3.0.3
