---
http_interactions:
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news?_embed&order=desc&orderby=date&per_page=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '4'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":36,"date":"2017-09-28T09:56:52","date_gmt":"2017-09-28T08:56:52","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=news&#038;p=36"},"modified":"2017-09-28T09:56:52","modified_gmt":"2017-09-28T08:56:52","slug":"uk-pavilion-at-astana-expo-2017-scoops-2-design-awards","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/news\/uk-pavilion-at-astana-expo-2017-scoops-2-design-awards\/","title":{"rendered":"UK
        Pavilion at Astana Expo 2017 scoops 2 design awards"},"content":{"rendered":"<p
        class=\"app-c-lead-paragraph\">The UK\u2019s energy-themed pavilion at Astana
        Expo wins 2 silver awards for innovative design and visitor\u00a0experience.
        UK Commissioner Charles Hendry and Deputy Commissioner Sara Everett hold the
        silver award.<\/p>\n<div class=\"grid-row sidebar-with-body\">\n<div class=\"column-two-thirds
        \">\n<div class=\"govuk-govspeak direction-ltr\">\n<div class=\"govspeak\">\n<p>The
        UK\u2019s interactive installation at the \u2018Future Energy\u2019 Expo 2017
        in Astana, Kazakhstan has won a silver exhibition design award from the organising
        body of the global event, The Bureau International des Expositions (BIE).<\/p>\n<\/div>\n<\/div>\n<\/div>\n<\/div>\n","protected":false},"template":"","acf":false,"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news\/36"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/news"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=36"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":35,"date":"2017-09-28T09:56:36","date_gmt":"2017-09-28T08:56:36","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=news&#038;p=35"},"modified":"2017-09-28T09:56:36","modified_gmt":"2017-09-28T08:56:36","slug":"hong-kong-to-host-technology-festival-for-cutting-edge-british-businesses","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/news\/hong-kong-to-host-technology-festival-for-cutting-edge-british-businesses\/","title":{"rendered":"Ho[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/how_tos?order=desc&orderby=date&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '2'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/popular_pages?_embed&order=asc&orderby=menu_order&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":19,"date":"2017-09-22T12:37:26","date_gmt":"2017-09-22T11:37:26","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular-pages&#038;p=19"},"modified":"2017-09-22T14:11:52","modified_gmt":"2017-09-22T13:11:52","slug":"19","status":"publish","type":"popular_pages","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_pages\/19\/","title":{"rendered":"Test
        Page"},"menu_order":1,"template":"","acf":{"page":"https:\/\/uat-dit.useconnect.co.uk\/test-page\/","image":{"id":8,"alt":"","title":"crown","caption":"","description":"","mime_type":"image\/png","url":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/09\/crown.png","width":72,"height":64,"sizes":{"thumbnail":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/09\/crown.png","thumbnail-width":72,"thumbnail-height":64,"medium":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/09\/crown.png","medium-width":72,"medium-height":64,"medium_large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/09\/crown.png","medium_large-width":72,"medium_large-height":64,"large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/09\/crown.png","large-width":72,"large-height":64}},"excerpt":"This
        is some excerpt text."},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages\/19"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/popular_pages"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=19"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true[...]
