%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
    .grid-row
      .column-full
        %h2.heading-large
          Page heading
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    .grid-row
      .column-full
        .accordion-controls
          %span.accordion-open-all
            Open all
        .accordion-container
          .accordion
            %hr{:class => 'rule-small'}
            .accordion-header
              %h2.heading-medium
                Item one
              %p
                Lorem ipsum dolor sit amet.
            .accordion-inner
              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc

              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc

              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc
          .accordion
            %hr{:class => 'rule-small'}
            .accordion-header
              %h2.heading-medium
                Item two
              %p
                Lorem ipsum dolor sit amet.
            .accordion-inner
              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc

              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc

              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc
          .accordion
            %hr{:class => 'rule-small'}
            .accordion-header
              %h2.heading-medium
                Item three
              %p
                Lorem ipsum dolor sit amet.
            .accordion-inner
              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc

              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc

              .column-third
                %ul
                  %li
                    Access e-learning and other training
                  %li
                    Access the intranet
                  %li
                    Arrange a visitor’s pass
                  %li
                    Book a meeting room
                  %li
                    Claim expenses
                  %li
                    Find up to date statistics/ use statistics correctly
                  %li
                    Get a new/replacement laptop/phone/etc
          %hr{:class => 'rule-small'}
