%div{:id => 'topics', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )

    .grid-row
      .column-two-thirds
        %hr{:class => 'rule-small rule-top'}
        %h2.heading-large
          Topic title
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, exercitationem placeat at expedita facere labore minus itaque?
        %hr{:class => 'rule-small'}
        .topic-container
          .topic
            .topic-controls
              %span{class: 'topic-toggle'}
            %h2.heading-medium
              Topic heading
            - if @topic_child.present?
              .topics-primary
                %ul
                  - @topic_child[0..4].each_with_index do |t, i|
                    %li
                      = link_to(t["title"]["rendered"], t["slug"])
              .topics-secondary
                %ul
                  - @topic_child[5..-1].each_with_index do |t, i|
                    %li
                      = link_to(t["title"]["rendered"], t["slug"])

            %hr{:class => 'rule-small'}
      .column-third
        %hr{class: 'rule-large rule-top'}
        -#%h2.heading-medium
        -#  Related news
