---
http_interactions:
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=antonia&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 16 Oct 2017 10:56:25 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=departmental&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 16 Oct 2017 10:56:26 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=ministers&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 16 Oct 2017 10:56:27 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?order=desc&orderby=date&per_page=20&type=howto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 16 Oct 2017 10:56:27 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/popular_pages?_embed&order=asc&orderby=menu_order&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":139,"date":"2017-10-03T12:27:40","date_gmt":"2017-10-03T11:27:40","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular_pages&#038;p=139"},"modified":"2017-10-03T12:27:50","modified_gmt":"2017-10-03T11:27:50","slug":"139","status":"publish","type":"popular_pages","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_pages\/139\/","title":{"rendered":"How
        are we structured"},"menu_order":0,"template":"","acf":{"page":null,"image":{"ID":140,"id":140,"title":"HowStructured","filename":"HowStructured.png","url":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090051\/HowStructured.png","alt":"","author":"1","description":"","caption":"","name":"howstructured","date":"2017-10-03
        11:27:32","modified":"2017-10-03 11:27:32","mime_type":"image\/png","type":"image","icon":"https:\/\/uat-dit.useconnect.co.uk\/wp-includes\/images\/media\/default.png","width":300,"height":192,"sizes":{"thumbnail":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090051\/HowStructured-150x150.png","thumbnail-width":150,"thumbnail-height":150,"medium":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090051\/HowStructured-300x192.png","medium-width":300,"medium-height":192,"medium_large":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090051\/HowStructured.png","medium_large-width":300,"medium_large-height":192,"large":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090051\/HowStructured.png","large-width":300,"large-height":192}},"excerpt":"How
        are we structured"},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages\/139"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/popular_pages"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=139"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":141,"date":"2017-10-03T12:28:28","date_gmt":"2017-10-03T11:28:28","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular_pages&#038;p=141"},"modified":"2017-10-03T12:28:28","modified_gmt":"2017-10-03T11:28:28","slug":"who-our-ministers-are","status":"publish","type":"popular_pages","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_pages\/who-our-ministers-are\/","title":{"rendered":"Who
        our Ministers are"},"menu_order":0,"template":"","acf":{"page":nu[...]
- request:
    method: get
    uri: https://peoplefinder-dev.herokuapp.com/api/people?email=alice@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=17bb94d536019d55d58753a4caff75eb96169cb3f2ff8df7e6736d137de08eef2e28e4b2799c87f622dce656acb2f209cfc929bdc1a574848abf32138de7c3d0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f140f8e9211f7ece0ba0343593b8afb1"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"19","type":"people","attributes":{"email":"alice@example.com","name":"Alice
        Arnold","team":"Visual Designers","completion-score":56},"links":{"profile":"https://peoplefinder-dev.herokuapp.com/people/test1","edit-profile":"https://peoplefinder-dev.herokuapp.com/people/test1/edit","profile-image-url":"https://dit-peoplefinder-dev.s3-eu-west-1.amazonaws.com/uploads/peoplefinder/profile_photo/image/13/small_sample.png?X-Amz-Expires=600\u0026X-Amz-Date=20171016T105628Z\u0026X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAJN33V4QRZYFV3ARA/20171016/eu-west-1/s3/aws4_request\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=f7706bf01d7d47e482a4cd4920f85eab8ad2483a7f024fbafe6f6288c70ba60f"}}}'
  recorded_at: Mon, 16 Oct 2017 10:56:28 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=GOVUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 16 Oct 2017 10:56:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 7d5f384b387f4b16b5e9d9b04fe6a013
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1499'
      X-Rate-Limit-Reset:
      - '1508152288'
      X-Response-Time:
      - '153'
      X-Transaction:
      - '00199fd0001a5f48'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Oct 16 09:58:57 +0000 2017","id":919865237188284416,"id_str":"919865237188284416","text":"Did
        you know GOV.UK is the place to find out what to do if you discover treasure?
        Celebrating #GOVUKis5\u2026 https:\/\/t.co\/o6xrSd1Yom","truncated":true,"entities":{"hashtags":[{"text":"GOVUKis5","indices":[94,103]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/o6xrSd1Yom","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/919865237188284416","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[105,128]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17481977,"id_str":"17481977","name":"GOV
        UK","screen_name":"GOVUK","location":"UK","description":"Official twitter
        channel for GOV.UK - the best place to find UK government services and information.
        See our social media house rules: https:\/\/t.co\/hWn1BrJ50t","url":"http:\/\/t.co\/CyQOW89elo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CyQOW89elo","expanded_url":"http:\/\/www.GOV.UK","display_url":"GOV.UK","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/hWn1BrJ50t","expanded_url":"https:\/\/gdsengagement.blog.gov.uk\/2014\/03\/26\/social-media-house-rules\/","display_url":"gdsengagement.blog.gov.uk\/2014\/03\/26\/soc\u2026","indices":[135,158]}]}},"protected":false,"followers_count":1512398,"friends_count":1740,"listed_count":2856,"created_at":"Wed
        Nov 19 07:25:05 +0000 2008","favourites_count":88,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":9185,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EEEEEE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17481977\/1415625071","profile_link_color":"FF5900","profile_sidebar_border_color":"FF5900","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":5,"favorite_count":9,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Oct 12 09:03:09 +0000 2017","id":918401642357252096,"id_str":"918401642357252096","text":"Find
        out about #genderpaygap reporting, which is now mandatory for large organisations:
        https:\/\/t.co\/xSViFwhXGr https:\/\/t.co\/YoC7qiZohf","truncated":false,"entities":{"hashtags":[{"text":"genderpaygap","indices":[15,28]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/xSViFwhXGr","expanded_url":"https:\/\/genderpaygap.campaign.gov.uk\/","display_url":"genderpaygap.campaign.gov.uk","indices":[88,111]}],"media":[{"id":918401517367029760,"id_str":"918401517367029760","indices":[112,135],"media_url":"http:\/\/pbs.twimg.com\/media\/DL7RUGvXcAAmYiF.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DL7RUGvXcAAmYiF.jpg","url":"https:\/\/t.co\/YoC7qiZohf","display_url":"pic.twitter.com\/YoC7qiZohf","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/918401642357252096\/photo\/1","type":"photo","sizes":{"large":{"w":1910,"h":1079,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":1200,"h":678,"resize":"fit"},"small":{"w":680,"h":384,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":918401517367029760,"id_str":"918401517367029760","indices":[112,135],"media_url":"http:\/\/pbs.twimg.com\/media\/DL7RUGvXcAAmYiF.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DL7RUGvXcAAmYiF.jpg","url":"https:\/\/t.co\/YoC7qiZohf","display_url":"pic.twitter.com\/YoC7qiZohf","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/918401642357252096\/photo\/1","type":"photo","sizes":{"large":{"w":1910,"h":1079,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"mediu[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/menus?slug=footer-menu-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":228,"date":"2017-10-05T10:53:37","date_gmt":"2017-10-05T09:53:37","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=menus&#038;p=228"},"modified":"2017-10-05T10:53:37","modified_gmt":"2017-10-05T09:53:37","slug":"footer-menu-1","status":"publish","type":"menus","link":"https:\/\/uat-dit.useconnect.co.uk\/menus\/footer-menu-1\/","title":{"rendered":"footer-menu-1"},"template":"","acf":{"menu":[{"menu_item":{"title":"Access
        the intranet","url":"https:\/\/uat-dit.useconnect.co.uk\/access-the-intranet\/","target":""}},{"menu_item":{"title":"Raise
        a purchase order","url":"https:\/\/uat-dit.useconnect.co.uk\/raise-a-purchase-order\/","target":""}}]},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/228"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/menus"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/228\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=228"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
  recorded_at: Mon, 16 Oct 2017 10:56:29 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '5'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":226,"date":"2017-10-05T10:50:38","date_gmt":"2017-10-05T09:50:38","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?page_id=226"},"modified":"2017-10-13T16:50:00","modified_gmt":"2017-10-13T15:50:00","slug":"new-figures-show-uk-attracts-more-investment-than-ever","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/new-figures-show-uk-attracts-more-investment-than-ever\/","title":{"rendered":"New
        figures show UK attracts more investment than ever"},"content":{"rendered":"<p>Figures
        published by the Department for International Trade have today revealed that
        the UK attracted more <a href=\"https:\/\/www.gov.uk\/government\/statistics\/department-for-international-trade-inward-investment-results-2016-to-2017\">foreign
        direct investment<\/a> (<abbr title=\"Foreign Direct Investment\">FDI<\/abbr>)
        projects than ever before for the year 2016 to 2017.<\/p>\n<p>With more than
        2,200 projects recorded, the post-referendum figures show an increase of 2%
        on the previous year. The data also shows that 75,226 new jobs were created,
        and 32,672 safeguarded, amounting to over 2,000 jobs per week across the country.<\/p>\n<p>Overall,
        the UK is the number one destination for inward investment in Europe, with
        the technology, renewable energy, life sciences and creative industries all
        seeing an increase in the number of projects.<\/p>\n<p>International Trade
        Secretary, Dr Liam Fox, said:<\/p>\n<blockquote><p>Almost one year on since
        the EU referendum, the UK continues to attract record levels of inward investment
        and remains extremely attractive to foreign investors.<\/p>\n<p>As an international
        economic department, we continue to promote the strengths of the UK as a great
        inward investment destination, with an open, liberal economy, world-class
        talent and business-friendly taxation.<\/p>\n<\/blockquote>\n<h2>Overview<\/h2>\n<p>Of
        the record number of projects that the UK attracted, the Department for International
        Trade helped to secure over 80% of them.<\/p>\n<p>The US retains the top spot
        investing in 577 projects in the UK, with China (including Hong Kong) remaining
        in second place with 160 projects. In third place is France with 131 followed
        by last year\u2019s third place India and Australia and New Zealand with 127
        projects each.<\/p>\n<h2>Govern[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/news_category
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '5'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":12,"count":2,"description":"","link":"https:\/\/uat-dit.useconnect.co.uk\/news_taxonomy\/general\/","name":"General","slug":"general","taxonomy":"news_category","parent":0,"meta":[],"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_category\/12"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_category"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/taxonomies\/news_category"}],"wp:post_type":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/pages?news_category=12"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":9,"count":3,"[...]
[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":1,"post":1,"parent":0,"author":0,"author_name":"A WordPress
        Commenter","author_url":"https:\/\/wordpress.org\/","date":"2017-09-20T13:50:33","date_gmt":"2017-09-20T12:50:33","content":{"rendered":"<p>Hi,
        this is a comment.<br \/>\nTo get started with moderating, editing, and deleting
        comments, please visit the Comments screen in the dashboard.<br \/>\nCommenter
        avatars come from <a href=\"https:\/\/gravatar.com\">Gravatar<\/a>.<\/p>\n"},"link":"https:\/\/uat-dit.useconnect.co.uk\/2017\/09\/20\/hello-world\/#comment-1","status":"approved","type":"comment","author_avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/d7a973c7dab26985da5f961be7b74480?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/d7a973c7dab26985da5f961be7b74480?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/d7a973c7dab26985da5f961be7b74480?s=96&d=mm&r=g"},"meta":[],"acf":false,"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments\/1"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments"}],"up":[{"embeddable":true,"post_type":"post","href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/posts\/1"}]}}]'
  recorded_at: Mon, 16 Oct 2017 10:56:32 GMT
[...]
- request:
    method: get
    uri: https://peoplefinder-dev.herokuapp.com/api/people?email=webmaster@connect.org.uk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=17bb94d536019d55d58753a4caff75eb96169cb3f2ff8df7e6736d137de08eef2e28e4b2799c87f622dce656acb2f209cfc929bdc1a574848abf32138de7c3d0
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 16 Oct 2017 10:56:33 GMT
[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=general&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '2'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json[...]
[...]
