---
http_interactions:
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email="
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:04:57 GMT
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=alice@example.com"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:04:57 GMT
- request:
    method: get
    uri: "<WP_API_URL>news"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '6'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:04:58 GMT
- request:
    method: get
    uri: "<WP_API_URL>comments"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '8'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:04:58 GMT
- request:
    method: get
    uri: "<WP_API_URL>howdoi?order=asc&orderby=menu_order&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '14'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:04:59 GMT
- request:
    method: get
    uri: "<WP_API_URL>popular_pages?_embed&order=asc&orderby=menu_order&per_page=3"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:04:59 GMT
- request:
    method: get
    uri: "<WP_API_URL>comments?per_page=100&post=9736"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:05:00 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=GOVUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 13 Nov 2017 17:05:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 30976a4990874c25b3919f18a9dc428f
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1491'
      X-Rate-Limit-Reset:
      - '1510592740'
      X-Response-Time:
      - '185'
      X-Transaction:
      - '0046966200dc2607'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Thu Nov 09 09:36:54 +0000 2017","id":928556995170447360,"id_str":"928556995170447360","text":"You
        have until 15 January 2018 to apply online for a state primary school place:
        https:\/\/t.co\/grjTgaZd5s https:\/\/t.co\/KKiv0uuODD","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/grjTgaZd5s","expanded_url":"https:\/\/www.gov.uk\/apply-for-primary-school-place?utm_source=govuktwitter","display_url":"gov.uk\/apply-for-prim\u2026","indices":[81,104]}],"media":[{"id":928556650360987648,"id_str":"928556650360987648","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/DOLlWpKX4AAYWec.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DOLlWpKX4AAYWec.jpg","url":"https:\/\/t.co\/KKiv0uuODD","display_url":"pic.twitter.com\/KKiv0uuODD","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/928556995170447360\/photo\/1","type":"photo","sizes":{"medium":{"w":917,"h":518,"resize":"fit"},"large":{"w":917,"h":518,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":928556650360987648,"id_str":"928556650360987648","indices":[105,128],"media_url":"http:\/\/pbs.twimg.com\/media\/DOLlWpKX4AAYWec.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DOLlWpKX4AAYWec.jpg","url":"https:\/\/t.co\/KKiv0uuODD","display_url":"pic.twitter.com\/KKiv0uuODD","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/928556995170447360\/photo\/1","type":"photo","sizes":{"medium":{"w":917,"h":518,"resize":"fit"},"large":{"w":917,"h":518,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17481977,"id_str":"17481977","name":"GOV
        UK","screen_name":"GOVUK","location":"UK","description":"Official twitter
        channel for GOV.UK - the best place to find UK government services and information.
        See our social media house rules: https:\/\/t.co\/hWn1BrJ50t","url":"http:\/\/t.co\/CyQOW89elo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CyQOW89elo","expanded_url":"http:\/\/www.GOV.UK","display_url":"GOV.UK","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/hWn1BrJ50t","expanded_url":"https:\/\/gdsengagement.blog.gov.uk\/2014\/03\/26\/social-media-house-rules\/","display_url":"gdsengagement.blog.gov.uk\/2014\/03\/26\/soc\u2026","indices":[135,158]}]}},"protected":false,"followers_count":1520890,"friends_count":1742,"listed_count":2863,"created_at":"Wed
        Nov 19 07:25:05 +0000 2008","favourites_count":93,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":9291,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EEEEEE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17481977\/1415625071","profile_link_color":"FF5900","profile_sidebar_border_color":"FF5900","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":35,"favorite_count":16,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Nov 06 09:33:08 +0000 2017","id":927468886676602880,"id_str":"927468886676602880","text":"Find
        out how you can join the commemorations on Sunday 12 November:  https:\/\/t.co\/RToIlnW7z0
        #RemembranceDay https:\/\/t.co\/jEUSWYg7eB","truncated":false,"entities":{"hashtags":[{"text":"RemembranceDay","indices":[93,108]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/RToIlnW7z0","expanded_url":"https:\/\/www.gov.uk\/govern[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=header-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:05:00 GMT
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=footer-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:05:01 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news?_embed&page=1&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '6'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:05:02 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news_categories"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '5'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:05:04 GMT
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=georgina.mallory@trade.gsi.gov.uk"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:05:05 GMT
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=mark.hazelby@digital.trade.gov.uk"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:05:06 GMT
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=dennis.flood@rainmaker.solutions"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:05:07 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=footer-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:05:08 GMT
recorded_with: VCR 3.0.3
