---
http_interactions:
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email="
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:57:06 GMT
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=alice@example.com"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:57:06 GMT
- request:
    method: get
    uri: "<WP_API_URL>news"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '6'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:07 GMT
- request:
    method: get
    uri: "<WP_API_URL>comments"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '8'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:07 GMT
- request:
    method: get
    uri: "<WP_API_URL>howdoi?order=asc&orderby=menu_order&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '14'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:08 GMT
- request:
    method: get
    uri: "<WP_API_URL>popular_pages?_embed&order=asc&orderby=menu_order&per_page=3"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:08 GMT
- request:
    method: get
    uri: "<WP_API_URL>comments?per_page=100&post=9736"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:09 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=tradegovuk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 13 Nov 2017 17:57:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - f64c7e4f10a3c4b18e2c9a5e97fed228
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1495'
      X-Rate-Limit-Reset:
      - '1510596428'
      X-Response-Time:
      - '189'
      X-Transaction:
      - 0025020c00d58268
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Nov 13 17:16:10 +0000 2017","id":930122127642124288,"id_str":"930122127642124288","text":"Struggling
        to speak the same language as potential businesses? Let our #ExportingisGREAT
        partners @SDL help you\u2026 https:\/\/t.co\/7aipYQ9EUl","truncated":true,"entities":{"hashtags":[{"text":"ExportingisGREAT","indices":[71,88]}],"symbols":[],"user_mentions":[{"screen_name":"SDL","name":"SDL","id":44945468,"id_str":"44945468","indices":[98,102]}],"urls":[{"url":"https:\/\/t.co\/7aipYQ9EUl","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/930122127642124288","display_url":"twitter.com\/i\/web\/status\/9\u2026","indices":[113,136]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14431752,"id_str":"14431752","name":"Department
        for International Trade","screen_name":"tradegovuk","location":"London","description":"Department
        for International Trade \u2013 helping businesses\nexport, driving investment,
        opening up markets and championing free trade","url":"https:\/\/t.co\/KMiwpagkWL","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/KMiwpagkWL","expanded_url":"http:\/\/www.gov.uk\/dit","display_url":"gov.uk\/dit","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":105288,"friends_count":3764,"listed_count":1982,"created_at":"Fri
        Apr 18 10:29:28 +0000 2008","favourites_count":687,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":18989,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/700441044\/4174d13512e47beb737fe6c0f8a92433.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/700441044\/4174d13512e47beb737fe6c0f8a92433.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/929987679701389312\/Pk9RsQfU_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/929987679701389312\/Pk9RsQfU_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14431752\/1509977613","profile_link_color":"CF102D","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E6F6F9","profile_text_color":"CC3366","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":2,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Nov 13 15:55:09 +0000 2017","id":930101739390472192,"id_str":"930101739390472192","text":"New
        research shows characteristics of UK businesses selling via online marketplaces.
        These marketplaces can help UK\u2026 https:\/\/t.co\/7dJg77XeM1","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/7dJg77XeM1","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/930101739390472192","dis[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=header-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:09 GMT
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=footer-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:10 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news?_embed&page=1&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '6'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:11 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news_categories"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '5'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:12 GMT
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=georgina.mallory@trade.gsi.gov.uk"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:57:13 GMT
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=mark.hazelby@digital.trade.gov.uk"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:57:14 GMT
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=dennis.flood@rainmaker.solutions"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Mon, 13 Nov 2017 17:57:15 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=footer-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 13 Nov 2017 17:57:16 GMT
recorded_with: VCR 3.0.3
