---
http_interactions:
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email="
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 08 Nov 2017 17:20:07 GMT
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=alice@example.com"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 08 Nov 2017 17:20:07 GMT
- request:
    method: get
    uri: "<WP_API_URL>news"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '12'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:08 GMT
- request:
    method: get
    uri: "<WP_API_URL>comments"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '19'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:08 GMT
- request:
    method: get
    uri: "<WP_API_URL>howdoi?order=desc&orderby=menu_order&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '27'
      X-Wp-Totalpages:
      - '3'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:09 GMT
- request:
    method: get
    uri: "<WP_API_URL>popular_pages?_embed&order=asc&orderby=menu_order&per_page=3"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:09 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=GOVUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Nov 2017 17:20:09 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - a37085db632efba8c89804a9aad8df3f
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1495'
      X-Rate-Limit-Reset:
      - '1510162250'
      X-Response-Time:
      - '178'
      X-Transaction:
      - 002f33c2002545ce
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Nov 06 09:33:08 +0000 2017","id":927468886676602880,"id_str":"927468886676602880","text":"Find
        out how you can join the commemorations on Sunday 12 November:  https:\/\/t.co\/RToIlnW7z0
        #RemembranceDay https:\/\/t.co\/jEUSWYg7eB","truncated":false,"entities":{"hashtags":[{"text":"RemembranceDay","indices":[93,108]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/RToIlnW7z0","expanded_url":"https:\/\/www.gov.uk\/government\/news\/find-out-how-you-can-join-the-commemorations-on-sunday-12-november?utm_source=govuktwitter","display_url":"gov.uk\/government\/new\u2026","indices":[69,92]}],"media":[{"id":927468282906664960,"id_str":"927468282906664960","indices":[109,132],"media_url":"http:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","url":"https:\/\/t.co\/jEUSWYg7eB","display_url":"pic.twitter.com\/jEUSWYg7eB","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/927468886676602880\/photo\/1","type":"photo","sizes":{"large":{"w":1834,"h":1036,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"},"medium":{"w":1200,"h":678,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":927468282906664960,"id_str":"927468282906664960","indices":[109,132],"media_url":"http:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","url":"https:\/\/t.co\/jEUSWYg7eB","display_url":"pic.twitter.com\/jEUSWYg7eB","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/927468886676602880\/photo\/1","type":"photo","sizes":{"large":{"w":1834,"h":1036,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"},"medium":{"w":1200,"h":678,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17481977,"id_str":"17481977","name":"GOV
        UK","screen_name":"GOVUK","location":"UK","description":"Official twitter
        channel for GOV.UK - the best place to find UK government services and information.
        See our social media house rules: https:\/\/t.co\/hWn1BrJ50t","url":"http:\/\/t.co\/CyQOW89elo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CyQOW89elo","expanded_url":"http:\/\/www.GOV.UK","display_url":"GOV.UK","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/hWn1BrJ50t","expanded_url":"https:\/\/gdsengagement.blog.gov.uk\/2014\/03\/26\/social-media-house-rules\/","display_url":"gdsengagement.blog.gov.uk\/2014\/03\/26\/soc\u2026","indices":[135,158]}]}},"protected":false,"followers_count":1519360,"friends_count":1743,"listed_count":2857,"created_at":"Wed
        Nov 19 07:25:05 +0000 2008","favourites_count":92,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":9272,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EEEEEE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17481977\/1415625071","profile_link_color":"FF5900","profile_sidebar_border_color":"FF5900","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":76,"favorite_count":68,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Nov 03 09:57:20 +0000 2017","id":926387812559187968,"id_str":"926387812559187968","text":"Don\u2019t
        forget the cut off for firework displays is 11pm, extended to midnight for
        5 November only:\u2026 https:\/\/t.co\/2tOlfDn812","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/2tOlfDn812","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/926387812559187968","display_url":"tw[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=header-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:10 GMT
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=footer-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:10 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news?_embed&page=1&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '12'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:12 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news_categories"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '7'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:13 GMT
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=webmaster@connect.org.uk"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 08 Nov 2017 17:20:14 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news?_embed&filter%5Bnews_category%5D=general&page=1&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '7'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:17 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news_categories/?slug=general"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:19 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=footer-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - http://test.local
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Nov 2017 17:20:22 GMT
recorded_with: VCR 3.0.3
