---
http_interactions:
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email="
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 08 Nov 2017 13:56:43 GMT
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=alice@example.com"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 08 Nov 2017 13:56:43 GMT
- request:
    method: get
    uri: "<WP_API_URL>news"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<WP_API_URL>news?page=2>; rel="next"
      X-Wp-Total:
      - '12'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":883,"date":"2017-11-07T10:21:30","date_gmt":"2017-11-07T10:21:30","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=news&#038;p=883"},"modified":"2017-11-07T11:57:07","modified_gmt":"2017-11-07T11:57:07","slug":"it-shouldnt-surprise-you-that-were-the-biggest-best","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/news\/it-shouldnt-surprise-you-that-were-the-biggest-best\/","title":{"rendered":"It
        wouldn&#8217;t surprise &#8220;you&#8221; that we&#8217;re the biggest &#038;
        best &#8230;"},"content":{"rendered":"<p>Did you know that we&#8217;re the
        biggest &amp; the best? I know that I shouldn&#8217;t be using &amp; in here,
        but it&#8217;s really just a test. What other characters cause problems &#8230;<\/p>\n<p>Can
        we do hashtags like #uktrade and #ukef? What about @gov or \/\\ bottomless
        triangles?<\/p>\n","protected":false},"author":3,"menu_order":0,"comment_status":"open","ping_status":"closed","template":"","directorates":[],"topic_taxonomy":[],"news_categories":[{"name":"General","slug":"general","id":12}],"acf":{"image":false,"excerpt":"This
        is a long excerpt. It shouldn''t be this long, but it is. This is a long excerpt.
        It shouldn''t be this long, but it is. This is a long excerpt. It shouldn''t
        be this long, but it is. This is a long excerpt. It shouldn''t be this long,
        but it is. This is a long excerpt. It shouldn''t be this long, but it is.
        This is a long excerpt. It shouldn''t be this long, but it is. This is a long
        excerpt. It shouldn''t be this long, but it is. This is a long excerpt. It
        shouldn''t be this long, but it is. This is a long excerpt. It shouldn''t
        be this long, but it is. This is a long excerpt. It shouldn''t be this long,
        but it is.","metadata":false,"author_name":"","author_email":""},"author_email":"dennis.flood@rainmaker.solutions","author_name":"dennis.flood","testing":true,"notification":{"message":"This
        is a test system wide notification message. It can be a maximum of 280 characters.","link":{"title":"Link
        to a page on the site","url":"https:\/\/uat-dit.useconnect.co.uk\/policies\/outward-direct-investment-in-the-department\/","target":""}},"breadcrumb":[],"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news\/883"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/news"}],"author":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/users\/3"}],"replies":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments?post=883"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news\/883\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=883"}],"wp:term":[{"taxonomy":"directorate","embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/directorates?post=883"},{"taxonomy":"topic_taxonomy","embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/topic_taxonomy?post=883"},{"taxonomy":"news_category","embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_categories?post=883"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":478,"date":"2017-10-16T16:18:57","date_gmt":"2017-10-16T15:18:57","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?page_id=478"},"modified":"2017-11-02T13:05:20","modified_gmt":"2017-11-02T13:05:20","slug":"test-news-for-pagination-6","status":"publish","type":"news","link":"https:\/\/uat-dit.useconnect.co.uk\/news\/test-news-for-pagination-6\/","title":{"rendered":"Government
        sets out vision for post EU trade and customs policy"},"content":{"rendered":"<p>Trade
        and customs white papers pave the way for legislation that will ensure the
        UK is ready for the first day after EU\u00a0exit.<\/p>\n","protected":false},"author":1,"menu_order":0,"comment_status":"open","ping_status":"closed","template":"","directorates":[],"topic_taxonomy":[{"name":"Away
        from work","slug":"away-from-work","id":18},{"name":"Parlimentary work","slug":"parlimentary-work","id":23},{"name":"Strategic
        relationship management","slug":"strategic-relationship-management","id":25},{"name":"Ways
        of working with Ministers and SPADs","slug":"ways-of-working-with-ministers-and-spads","id":24}],"news_categories":[{"name":"Leaders","slug":"leaders","id":9},{"name":"People","slug":"people","id":8},{"name":"Workplace","slug":"workplace","id":10}],"acf":{"image":{"ID":85,"id":85,"title":"Flight
        Paths - world - A3 size","filename":"s300_Flight-Path-World-govuk-2.jpg","url":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090052\/s300_Flight-Path-World-govuk-2.jpg","alt":"","author":"1","description":"","caption":"Flight
        Paths - world - A3 size","name":"flight-paths-world-a3-size-3","date":"2017-10-02
        10:30:32","modified":"2017-10-17 12:56:14","mime_type":"image\/jpeg","type":"image","icon":"https:\/\/uat-dit.useconnect.co.uk\/wp-includes\/images\/media\/default.png","width":300,"height":195,"sizes":{"thumbnail":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090052\/s300_Flight-Path-World-govuk-2-150x150.jpg","thumbnail-width":150,"thumbnail-height":150,"medium":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090052\/s300_Flight-Path-World-govuk-2-300x195.jpg","medium-width":300,"medium-height":195,"medium_large":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090052\/s300_Flight-Path-World-govuk-2.jpg","medium_large-width":300,"medium_large-height":195,"large":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090052\/s300_Flight-Path-World-govuk-2.jpg","large-width":300,"large-height":195}},"excerpt":"Dr
        Liam Fox will convene a new Board of Trade which will bring together prominent
        business and political figures from each part of the UK.\r\n\r\ngovernment
        lays the ground for the UK\u2019s exit from the EU\r\nseparate trade and customs
        white papers pave the way for legislation to allow the UK to operate as a
        trading nation as we leave the EU and prevent disruption to trading arrangements\r\nThe
        government has taken a significant [...]
- request:
    method: get
    uri: "<WP_API_URL>comments"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<WP_API_URL>comments?page=2>; rel="next"
      X-Wp-Total:
      - '19'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":15,"post":478,"parent":0,"author":0,"author_name":"Bobby Tables","author_url":"","date":"2017-11-06T11:14:23","date_gmt":"2017-11-06T11:14:23","content":{"rendered":"<p>A
        new, unparented comment<\/p>\n"},"link":"https:\/\/uat-dit.useconnect.co.uk\/news\/test-news-for-pagination-6\/#comment-15","status":"approved","type":"comment","author_avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/94fba03762323f286d7c3ca9e001c541?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/94fba03762323f286d7c3ca9e001c541?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/94fba03762323f286d7c3ca9e001c541?s=96&d=mm&r=g"},"meta":[],"acf":[],"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments\/15"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments"}],"up":[{"embeddable":true,"post_type":"news","href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news\/478"}]}},{"id":14,"post":478,"parent":1,"author":0,"author_name":"Bobby
        Tables","author_url":"","date":"2017-11-03T15:57:52","date_gmt":"2017-11-03T15:57:52","content":{"rendered":"<p>A
        different comment instead<\/p>\n"},"link":"https:\/\/uat-dit.useconnect.co.uk\/news\/test-news-for-pagination-6\/#comment-14","status":"approved","type":"comment","author_avatar_urls":{"24":"https:\/\/secure.gravatar.com\/avatar\/94fba03762323f286d7c3ca9e001c541?s=24&d=mm&r=g","48":"https:\/\/secure.gravatar.com\/avatar\/94fba03762323f286d7c3ca9e001c541?s=48&d=mm&r=g","96":"https:\/\/secure.gravatar.com\/avatar\/94fba03762323f286d7c3ca9e001c541?s=96&d=mm&r=g"},"meta":[],"acf":[],"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments\/14"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments"}],"up":[{"embeddable":true,"post_type":"news","href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news\/478"}],"in-reply-to":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments\/1"}]}},{"id":13,"post":478,"parent":1,"author":0,"author_name":"Bobby
        Tables","author_url":"","date":"2017-11-03T15:55:42","date_gmt":"2017-11-03T15:55:42","content":{"rendered":"<p>Lorem
        ipsum dolor sit amet\u2026<\/p>\n"},"link":"https:\/\/uat-dit.useconnect.co.uk\/news\/test-news-for-pagination-6\/#comment-13","status":"approved","type":"comment","author_avatar_urls":{"24":"https:\/\/sec[...]
- request:
    method: get
    uri: "<WP_API_URL>howdoi?order=desc&orderby=menu_order&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<WP_API_URL>howdoi?orderby=menu_order&order=desc&per_page=10&page=2>; rel="next"
      X-Wp-Total:
      - '27'
      X-Wp-Totalpages:
      - '3'
      Allow:
      - GET
      Content-Type:
    [...]
- request:
    method: get
    uri: "<WP_API_URL>popular_pages?_embed&order=asc&orderby=menu_order&per_page=3"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":139,"date":"2017-10-03T12:27:40","date_gmt":"2017-10-03T11:27:40","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular_pages&#038;p=139"},"modified":"2017-10-03T12:27:50","modified_gmt":"2017-10-03T11:27:50","slug":"139","status":"publish","type":"popular_page","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_page\/139\/","title":{"rendered":"How
        are we structured"},"menu_order":0,"template":"","acf":{"page":null,"image":{"ID":140,"id":140,"title":"HowStructured","filename":"HowStructured.png","url":"https:\/\/s3-eu-west-1.amazonaws.com\/dit-workspace-staging\/wp-content\/uploads\/2017\/10\/12090051\/HowStructured.png","alt":"","author":"1","description":"","caption":"","name":"howstructured","date":"2017-10-03
        11:27:32","modified":"2017-10-17 12:52:20","mime_type":"image\/png","type":"image","icon":"https:\/\/uat-dit.useconnect.co.uk\/wp-includes\/images\/media\/default.png","width":300,"he[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=GOVUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 08 Nov 2017 13:56:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 3107c192a32496a4dda36c583a961071
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1493'
      X-Rate-Limit-Reset:
      - '1510149478'
      X-Response-Time:
      - '166'
      X-Transaction:
      - 0003a90000ea266b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Mon Nov 06 09:33:08 +0000 2017","id":927468886676602880,"id_str":"927468886676602880","text":"Find
        out how you can join the commemorations on Sunday 12 November:  https:\/\/t.co\/RToIlnW7z0
        #RemembranceDay https:\/\/t.co\/jEUSWYg7eB","truncated":false,"entities":{"hashtags":[{"text":"RemembranceDay","indices":[93,108]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/RToIlnW7z0","expanded_url":"https:\/\/www.gov.uk\/government\/news\/find-out-how-you-can-join-the-commemorations-on-sunday-12-november?utm_source=govuktwitter","display_url":"gov.uk\/government\/new\u2026","indices":[69,92]}],"media":[{"id":927468282906664960,"id_str":"927468282906664960","indices":[109,132],"media_url":"http:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","url":"https:\/\/t.co\/jEUSWYg7eB","display_url":"pic.twitter.com\/jEUSWYg7eB","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/927468886676602880\/photo\/1","type":"photo","sizes":{"large":{"w":1834,"h":1036,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"},"medium":{"w":1200,"h":678,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":927468282906664960,"id_str":"927468282906664960","indices":[109,132],"media_url":"http:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DN8HfUcX4AAi6uB.jpg","url":"https:\/\/t.co\/jEUSWYg7eB","display_url":"pic.twitter.com\/jEUSWYg7eB","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/927468886676602880\/photo\/1","type":"photo","sizes":{"large":{"w":1834,"h":1036,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"},"medium":{"w":1200,"h":678,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17481977,"id_str":"17481977","name":"GOV
        UK","screen_name":"GOVUK","location":"UK","description":"Official twitter
        channel for GOV.UK - the best place to find UK government services and information.
        See our social media house rules: https:\/\/t.co\/hWn1BrJ50t","url":"http:\/\/t.co\/CyQOW89elo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CyQOW89elo","expanded_url":"http:\/\/www.GOV.UK","display_url":"GOV.UK","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/hWn1BrJ50t","expanded_url":"https:\/\/gdsengagement.blog.gov.uk\/2014\/03\/26\/social-media-house-rules\/","display_url":"gdsengagement.blog.gov.uk\/2014\/03\/26\/soc\u2026","indices":[135,158]}]}},"protected":false,"followers_count":1519303,"friends_count":1743,"listed_count":2856,"created_at":"Wed
        Nov 19 07:25:05 +0000 2008","favourites_count":92,"utc_offset":0,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":9269,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EEEEEE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17481977\/1415625071","profile_link_color":"FF5900","profile_sidebar_border_color":"FF5900","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":71,"favorite_count":65,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Fri
        Nov 03 09:57:20 +0000 2017","id":926387812559187968,"id_str":"926387812559187968","text":"Don\u2019t
        forget the cut off for firework displays is 11pm, extended to midnight for
        5 November only:\u2026 https:\/\/t.co\/2tOlfDn812","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/2tOlfDn812","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/926387812559187968","display_url":"tw[...]
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=header-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":853,"date":"2017-11-02T15:28:01","date_gmt":"2017-11-02T15:28:01","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=menu&#038;p=853"},"modified":"2017-11-06T18:32:47","modified_gmt":"2017-11-06T18:32:47","slug":"header-menu","status":"publish","type":"menu","link":"https:\/\/uat-dit.useconnect.co.uk\/menu\/header-menu\/","title":{"rendered":"header-menu"},"template":"","acf":{"menu":[{"menu_item":{"title":"News
        and Views","url":"\/news-and-views\/","target":""}},{"menu_item":{"title":"Working
        at DIT","url":"\/working-at-dit\/","target":""}},{"menu_item":{"title":"About
        Us","url":"\/about-dit\/","target":""}},{"menu_item":{"title":"Tools","url":"\/tools\/","target":""}},{"menu_item":{"title":"Data
        Hub","url":"\/tools\/data-hub\/","target":""}}]},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/853"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/menu"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/853\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=853"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
  recorded_at: Wed, 08 Nov 2017 13:56:46 GMT
- request:
    method: get
    uri: "<WP_API_URL>menus?slug=footer-menu"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
   [...]
[...]
- request:
    method: get
    uri: "<WP_API_URL>news?_embed&page=1&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<WP_API_URL>news?_embed&per_page=10&page=2>; rel="next"
      X-Wp-Total:
      - '12'
      X-Wp-Totalpages:
      - '2'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    bod[...]
[...]
- request:
    method: get
    uri: "<WP_API_URL>news_categories"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '7'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":26,"count":0,"description":"","link":"https:\/\/uat-dit.useconnect.co.uk\/news_taxonomy\/blogs\/","name":"Blogs","slug":"blogs","taxonomy":"news_category","parent":0,"meta":[],"acf":[],"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_categories\/26"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_categories"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/taxonomies\/news_category"}],"wp:post_type":[{"href":"htt[...]
[...]
- request:
    method: get
    uri: "<PEOPLEFINDER_URL>/api/people?email=webmaster@connect.org.uk"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<PEOPLEFINDER_AUTH_TOKEN>
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"That person was not found"}'
  recorded_at: Wed, 08 Nov 2017 13:56:51 GMT
[...]
- request:
    method: get
    uri: "<WP_API_URL>news?_embed&filter%5Bnews_category%5D=general&page=1&per_page=10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '7'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
 [...]
[...]
- request:
    method: get
    uri: "<WP_API_URL>news_categories/?slug=general"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <WP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":12,"count":7,"description":"","link":"https:\/\/uat-dit.useconnect.co.uk\/news_taxonomy\/general\/","name":"General","slug":"general","taxonomy":"news_category","parent":0,"meta":[],"acf":[],"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_categories\/12"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_categories"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/taxonomies\/news_category"}],"wp:post_type":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news?news_categories=12"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
  recorded_at: Wed, 08 Nov 2017 13:56:57 GMT
[...]
