---
http_interactions:
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=antonia&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 11 Oct 2017 08:06:11 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=departmental&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 11 Oct 2017 08:06:12 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?_embed&filter%5Bnews_category%5D=ministers&order=desc&orderby=date&per_page=2&type=news
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '0'
      X-Wp-Totalpages:
      - '0'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 11 Oct 2017 08:06:12 GMT
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/pages?order=desc&orderby=date&per_page=20&type=howto
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '20'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":220,"date":"2017-10-05T10:45:36","date_gmt":"2017-10-05T09:45:36","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?page_id=220"},"modified":"2017-10-05T10:45:36","modified_gmt":"2017-10-05T09:45:36","slug":"find-up-to-date-statistics","status":"publish","type":"howto","link":"https:\/\/uat-dit.useconnect.co.uk\/find-up-to-date-statistics\/","title":{"rendered":"Find
        up to date statistics"},"content":{"rendered":"","protected":false},"excerpt":{"rendered":"","protected":false},"author":1,"featured_media":0,"parent":0,"menu_order":0,"comment_status":"closed","ping_status":"closed","template":"templates\/howto.php","meta":[],"general_taxonomy":[],"news_category":[],"acf":{"image":false,"excerpt":""},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/pages\/220"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/page"}],"author":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/users\/1"}],"replies":[{"embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/comments?post=220"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/pages\/220\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=220"}],"wp:term":[{"taxonomy":"general_taxonomy","embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/general_taxonomy?post=220"},{"taxonomy":"news_category","embeddable":true,"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/news_category?post=220"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}},{"id":218,"date":"2017-10-05T10:45:24","date_gmt":"2017-10-05T09:45:24","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?page_id=218"},"modified":"2017-10-05T10:45:24","modified_gmt":"2017-10-05T09:45:24","slug":"access-the-intranet","status":"publish","type":"howto","link":"https:\/\/uat-dit.useconnect.co.uk\/access-the-intranet\/","title":{"rendered":"Access
        the intranet"},"content":{"rendered":"","protected":false},"excerpt":{"rendered":"","protected":false},"author":[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/popular_pages?_embed&order=asc&orderby=menu_order&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '3'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":139,"date":"2017-10-03T12:27:40","date_gmt":"2017-10-03T11:27:40","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=popular_pages&#038;p=139"},"modified":"2017-10-03T12:27:50","modified_gmt":"2017-10-03T11:27:50","slug":"139","status":"publish","type":"popular_pages","link":"https:\/\/uat-dit.useconnect.co.uk\/popular_pages\/139\/","title":{"rendered":"How
        are we structured"},"menu_order":0,"template":"","acf":{"page":null,"image":{"ID":140,"id":140,"title":"HowStructured","filename":"HowStructured.png","url":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","alt":"","author":"1","description":"","caption":"","name":"howstructured","date":"2017-10-03
        11:27:32","modified":"2017-10-03 11:27:32","mime_type":"image\/png","type":"image","icon":"https:\/\/uat-dit.useconnect.co.uk\/wp-includes\/images\/media\/default.png","width":300,"height":192,"sizes":{"thumbnail":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured-150x150.png","thumbnail-width":150,"thumbnail-height":150,"medium":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured-300x192.png","medium-width":300,"medium-height":192,"medium_large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","medium_large-width":300,"medium_large-height":192,"large":"https:\/\/uat-dit.useconnect.co.uk\/wp-content\/uploads\/2017\/10\/HowStructured.png","large-width":300,"large-height":192}},"excerpt":"How
        are we structured"},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages\/139"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/popular_pages"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/popular_pages"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=139"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","te[...]
- request:
    method: get
    uri: https://peoplefinder-dev.herokuapp.com/api/people?email=alice@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=17bb94d536019d55d58753a4caff75eb96169cb3f2ff8df7e6736d137de08eef2e28e4b2799c87f622dce656acb2f209cfc929bdc1a574848abf32138de7c3d0
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0b07692c98aaaf5a1067b3e1f67708fa"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"19","type":"people","attributes":{"email":"alice@example.com","name":"Alice
        Arnold","team":"Visual Designers","completion-score":56},"links":{"profile":"https://peoplefinder-dev.herokuapp.com/people/test1","edit-profile":"https://peoplefinder-dev.herokuapp.com/people/test1/edit","profile-image-url":"https://dit-peoplefinder-dev.s3-eu-west-1.amazonaws.com/uploads/peoplefinder/profile_photo/image/13/small_sample.png?X-Amz-Expires=600\u0026X-Amz-Date=20171011T080611Z\u0026X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAJN33V4QRZYFV3ARA/20171011/eu-west-1/s3/aws4_request\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=11d43084ecf11f8fbebe150e8e6d9fd29b4da1d991b0fdfd471745365176b93f"}}}'
  recorded_at: Wed, 11 Oct 2017 08:06:13 GMT
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic MldyYmI1WkhrRHJzdVRxYWRaaGpaZDUzVzpxcjdxVVpMaXhxZzZjZkt4OXU4NkFxTGxFeHROSmZYdDM1U2x3bGpJSTlSVFhXZ0ZaMQ==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 11 Oct 2017 08:06:12 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - bdea0c05d450dd0f545e1b04c57640ed
      X-Response-Time:
      - '117'
      X-Transaction:
      - 00a7759800983174
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW"}'
  recorded_at: Wed, 11 Oct 2017 08:06:14 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=100&exclude_replies=true&include_rts=false&screen_name=GOVUK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAADEd2gAAAAAAwDkjG%2FEhw%2B%2F7f4k3P69KYORd7Dc%3DUIgZm9NYTjDVzw3EqJ7W9Ofhwmye5sP4TU9w1gdzXwNju2ERvW
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 11 Oct 2017 08:06:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 175868bdb6659bcf08c8131a4ea907d9
      X-Rate-Limit-Limit:
      - '1500'
      X-Rate-Limit-Remaining:
      - '1498'
      X-Rate-Limit-Reset:
      - '1507709952'
      X-Response-Time:
      - '151'
      X-Transaction:
      - 0013ad6300bd5c2b
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Tue Oct 10 08:19:54 +0000 2017","id":917665983736762368,"id_str":"917665983736762368","text":"Find
        out when a mental health condition is defined as a disability: https:\/\/t.co\/UIOZuXiauo
        #WorldMentalHealthDay https:\/\/t.co\/eGelxs0SQp","truncated":false,"entities":{"hashtags":[{"text":"WorldMentalHealthDay","indices":[92,113]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/UIOZuXiauo","expanded_url":"https:\/\/www.gov.uk\/when-mental-health-condition-becomes-disability?utm_source=govuktwitter","display_url":"gov.uk\/when-mental-he\u2026","indices":[68,91]}],"media":[{"id":917665659521298432,"id_str":"917665659521298432","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/DLw0DipXcAAjLw5.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DLw0DipXcAAjLw5.jpg","url":"https:\/\/t.co\/eGelxs0SQp","display_url":"pic.twitter.com\/eGelxs0SQp","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/917665983736762368\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":678,"resize":"fit"},"large":{"w":1910,"h":1079,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":917665659521298432,"id_str":"917665659521298432","indices":[114,137],"media_url":"http:\/\/pbs.twimg.com\/media\/DLw0DipXcAAjLw5.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DLw0DipXcAAjLw5.jpg","url":"https:\/\/t.co\/eGelxs0SQp","display_url":"pic.twitter.com\/eGelxs0SQp","expanded_url":"https:\/\/twitter.com\/GOVUK\/status\/917665983736762368\/photo\/1","type":"photo","sizes":{"medium":{"w":1200,"h":678,"resize":"fit"},"large":{"w":1910,"h":1079,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"small":{"w":680,"h":384,"resize":"fit"}}}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":17481977,"id_str":"17481977","name":"GOV
        UK","screen_name":"GOVUK","location":"UK","description":"Official twitter
        channel for GOV.UK - the best place to find UK government services and information.
        See our social media house rules: https:\/\/t.co\/hWn1BrJ50t","url":"http:\/\/t.co\/CyQOW89elo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CyQOW89elo","expanded_url":"http:\/\/www.GOV.UK","display_url":"GOV.UK","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/hWn1BrJ50t","expanded_url":"https:\/\/gdsengagement.blog.gov.uk\/2014\/03\/26\/social-media-house-rules\/","display_url":"gdsengagement.blog.gov.uk\/2014\/03\/26\/soc\u2026","indices":[135,158]}]}},"protected":false,"followers_count":1511069,"friends_count":1741,"listed_count":2856,"created_at":"Wed
        Nov 19 07:25:05 +0000 2008","favourites_count":88,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":true,"statuses_count":9176,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EEEEEE","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/158566188\/NEW-twitter-wallpaper5.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/436522350322798592\/xxGpD77P_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/17481977\/1415625071","profile_link_color":"FF5900","profile_sidebar_border_color":"FF5900","profile_sidebar_fill_color":"EEEEEE","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":76,"favorite_count":80,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Oct 05 09:50:55 +0000 2017","id":915876949947568129,"id_str":"915876949947568129","text":"Do
        you run a business from home or are thinking of setting one up? Find out which
        permissions and insurance you nee\u2026 https:\/\/t.co\/KSKK9agcZh","truncated":true,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/KSKK9agcZh","expanded_url":"https:\/\/twitter.com\/i\/web\/status\/915876949947568129","dis[...]
- request:
    method: get
    uri: https://uat-dit.useconnect.co.uk/wp-json/wp/v2/menus?slug=footer-menu-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://uat-dit.useconnect.co.uk/wp-json/>; rel="https://api.w.org/"
      X-Wp-Total:
      - '1'
      X-Wp-Totalpages:
      - '1'
      Allow:
      - GET
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":228,"date":"2017-10-05T10:53:37","date_gmt":"2017-10-05T09:53:37","guid":{"rendered":"https:\/\/uat-dit.useconnect.co.uk\/?post_type=menus&#038;p=228"},"modified":"2017-10-05T10:53:37","modified_gmt":"2017-10-05T09:53:37","slug":"footer-menu-1","status":"publish","type":"menus","link":"https:\/\/uat-dit.useconnect.co.uk\/menus\/footer-menu-1\/","title":{"rendered":"footer-menu-1"},"template":"","acf":{"menu":[{"menu_item":{"title":"Access
        the intranet","url":"https:\/\/uat-dit.useconnect.co.uk\/access-the-intranet\/","target":""}},{"menu_item":{"title":"Raise
        a purchase order","url":"https:\/\/uat-dit.useconnect.co.uk\/raise-a-purchase-order\/","target":""}}]},"_links":{"self":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/228"}],"collection":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus"}],"about":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/types\/menus"}],"version-history":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/menus\/228\/revisions"}],"wp:attachment":[{"href":"https:\/\/uat-dit.useconnect.co.uk\/wp-json\/wp\/v2\/media?parent=228"}],"curies":[{"name":"wp","href":"https:\/\/api.w.org\/{rel}","templated":true}]}}]'
  recorded_at: Wed, 11 Oct 2017 08:06:15 GMT
recorded_with: VCR 3.0.3
