%a{:href => "#proposition-links", :class => "js-header-toggle menu"}
  Menu
%nav{:id => "proposition-menu"}
  %ul{:id => "proposition-links"}
    - @header_menu = header_menu
    - if !@header_menu.nil?
      - @header_menu.each do |header_menu_link|
        - header_menu_link["acf"]["menu"].each do |link|
          %li
            = link_to(link['menu_item']['title'], link['menu_item']['url'], target: link['menu_item']['target'])
