.global-notification
  .global-notification-inner
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, dolor. Illum earum officia provident cupiditate unde aperiam, sint! Blanditiis <a href="#">ipsa doloremque ex minus</a> quasi sint dolor quo vel fuga. Laborum.
