.global-notification
  .global-notification-inner
    - if @global_notification.present?
      - message = @global_notification["notification"]["message"]
      - link_title = @global_notification["notification"]["link"]["title"]
      - link_url = @global_notification["notification"]["link"]["url"]
      - link_target = @global_notification["notification"]["link"]["target"]
      - link = link_to(link_title, link_url, target: link_target)
      %p
        = "#{message} #{link}".html_safe
