.pagination
  %hr{:class => 'rule-small'}
  - if @posts_headers.present?
    .prev
      - if @paginator.next_page_no
        = link_to( "Prev Page", "/news/?page=#{@paginator.next_page_no}" )
    .pages
      %span.page-number
        1
      %span.page-number
        %a
          2
      %span.page-number
        %a
          &hellip;
      %span.page-number
        %a
          85
    .next
      = link_to( "Next Page",  "/news/")
