.welcome-people-finder
  .floated-inner-block
    %h2.heading-large
      Find people
    %p
      Search for your colleagues across the department
    %form{:action => "/search", :method => "get", :role => "search"}
      .govuk-search
        %label.search-label
          Search people
        .search-wrapper
          %input{:type => 'search', :title => 'Search', :class => 'search-element search-input js-class-toggle'}
          .search-element.search-submit-wrapper
            %button{:type => 'submit', :class => 'search-submit'}
              Search
