.welcome-people-finder
  .floated-inner-block
    %h2.heading-large
      Find people
    %p
      Search for your colleagues across the department
    %form{action: "#{ENV['PEOPLEFINDER_URL']}/search", method: 'get', role: 'search', id: 'people_search' }
      .govuk-search
        %label.search-label
          Search people
        .search-wrapper
          %input{name: 'query', type: 'search', title: 'Search', class: 'search-element search-input js-class-toggle'}
          .search-element.search-submit-wrapper
            %button{type: 'submit', class: 'search-submit', id:'people_search_submit' }
              Search
