.welcome-people-finder
  .floated-inner-block
    %h2.heading-large
      People finder
    %p.heading-tag-line
      Search for people, teams, roles, skills and more from across the department and around the world.
    %form{action: "#{ENV['PEOPLEFINDER_URL']}/search", method: 'get', role: 'search', id: 'people_search' }
      .govuk-search
        %label.search-label
          Search people
        .search-wrapper
          %input#search_filters_{:name => "search_filters[]", :type => "hidden", :value => "people"}/
          %input#search_filters_{:name => "search_filters[]", :type => "hidden", :value => "teams"}/
          %input{name: 'query', id: 'people-search-input', type: 'search', title: 'Search', class: 'search-element search-input js-class-toggle'}
          .search-element.search-submit-wrapper
            %button{type: 'submit', class: 'search-submit', id:'people_search_submit' }
              Search
