- if @work_categories.class == Array && @work_categories.count > 0
  .filter-form
    .inner-block
      #filters_topics.filter.checkbox-filter.js-openable-filter.closed
        .head
          %span.legend
            Working at DIT
          .controls
            %a.clear-selected.js-hidden
              Remove filters
            .toggle
        .checkbox-container{:id => "topic-filter"}
          %ul
            - @work_categories.each do |cat|
              %li
                %input{:type => "checkbox", :name => "filter_topics", :value => cat['slug'], :id => cat['slug']}
                %label{:for => cat['slug']}
                  = cat['name']