.filter-form
  .inner-block
    .filter.checkbox-filter.js-openable-filter
      .head
        %span.legend
          Working at DIT
        .controls
          %a.clear-selected.js-hidden
            Remove filters
          .toggle
      .checkbox-container{:id => "organisations-filter"}
        %ul
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
          %li
            %input{:type => "checkbox", :name => "filter_organisations[]", :value => "hm-revenue-customs", :id => "hm-revenue-customs"}
            %label{:for => "hm-revenue-customs"}
              HM Revenue &amp; Customs (2,849)
    .submit.js-live-search-fallback
      %input{:type => "submit", :class => "button", :value => "Submit filters"}