.zendesk-container.zendesk-header
  %p
    %strong.beta-label
      BETA
    Complete out quick 5-question survey to
    = link_to('help us improve the Digital Workspace', '#')
  %hr{:class => 'rule-small'}
