.accordion {
	border-bottom: 1px solid $brand_chrome_d;

	&:first-of-type {
		border-top: 1px solid $brand_chrome_d;
	}
}

.accordion-header {
	margin: 20px 0px;

	.heading-medium {
		position: relative;
		margin-top: 0px;
		margin-bottom: 5px;
		cursor: pointer;
		color: $govuk-link-color;
		padding-right: 30px;

		&:after {
			content: '+';
			display: inline-block;
			position: absolute;
			top: 0px;
			right: 20px;
			color: #000000;
		}

		.visible & {
			&:after {
				content: '−';
			}
		}
	}

	p {
		margin-top: 0px;
	}
}

.accordion-inner {
	@extend %clearfix;

	//.visible & {

		ul {
			padding-bottom: 20px;
		}
	//}

	.js-enabled & {
		height: 0px;
		overflow: hidden;
		transition: height 1000ms ease-in-out;
		&.no-animate {
			transition: none;
		}
	}

	// .animate-false & {
	// 	transition: none;		
	// }
}


.accordion-controls {
	text-align: right;
	margin-bottom: 10px;
}

.accordion-open-all {
	cursor: pointer;
	color: $govuk-link-color;
}
