// ------------------------------------
// homepage news, what's popular

#homepage .root-index {
  padding-top: 30px;
}

.news-column {
	h2 {
		border-top: 1px solid #bfc1c3;
		margin-top: 0;
		padding-top: 0.8333333333em;
	}
}

.more-news {
	.more-news-inner {
		border-top: 1px solid #b8bcbe;
	}
}

#homepage .news-item {
	margin-bottom: 30px;

	.post-meta {
    margin: 4px 0 8px 0;
		position: relative;
	}

	&-image {
		position: relative;
		overflow: hidden;

		@media(min-width: $screen_medium) {
			max-width: 300px;
			height: 195px;
		}

		img {
			position: relative;
			display: block;
			max-width: 100%;
			width: 100%;
			height: auto;

			@media(min-width: $screen_medium) {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				height: 100%;
				object-fit: cover;
			}
		}
	}

  .news-item-excerpt {
    p {
      margin-bottom: 5px;
    }
  }

	.news-item-text {
		position: relative;
	}

	.image-holder {
		float: left;
		width: 33.33333%;
		max-height: 195px;
		overflow: hidden;
		.img {
			display: block;
			padding: 5px 15px 0 0;
		}
	}

	.heading-medium {
		margin: 0;
		padding-top: 15px;
		padding-bottom: 4px;
	}
}

.popular-page-summary {
	clear: both;
	margin-bottom: 30px;
	overflow: auto;
	img {
		display: block;
		width: 100%;
	}
	.image-holder {
		float: left;
		width: 33.33333%;
		max-height: 195px;
		overflow: hidden;
		.img {
			display: block;
			padding: 5px 15px 0 0;
		}
	}
	.popular-page-text {
		float: left;
		width: 66.66667%
	}
	.heading-medium {
		font-size: $text_xsmall;
		line-height: 1.25;
		margin: 0;
		//padding-top: 6px;
		padding-top: 1.65em;
		padding-bottom: 4px;
	}
	p {
		font-size: 14px;
		line-height: 1.4em;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

@media(min-width: $screen_medium) {
	.news-item {
		.image-holder {
			width: 100%;
			.img {
				padding: 0;
			}
		}
		.news-item-text {
			width: 100%;
		}

		.heading-medium {
			margin: 0;
			padding-top: 6px;
			padding-bottom: 4px;
		}
		p {
			font-size: $text_xsmall;
			line-height: 1.25;
		}
	}

	.popular-page-summary {
		clear: none;
		margin-bottom: 30px;
		.image-holder {
			width: 100%;
			.img {
				padding: 0;
			}
		}.popular-page-text {
			width: 100%
		}
		.heading-medium {
			font-size: 19px;
			margin: 0;
			padding-top: 20px;
			padding-bottom: 4px;
		}
		&:last-child {
			/*margin-bottom: 30px;*/
		}
	}
}

// ------------------------------------
// homepage quick links box

#homepage .column-quick-links {
  @media(min-width: $screen_medium) {
    order: 3;
  }
  margin: 0 auto;
}

#homepage .quick-links {
  border-top: 5px solid $brand_color_a;
  border-bottom: 1px solid $brand_chrome_b;
  padding: 30px;
  margin-bottom: 30px;
  background-color: $brand_chrome_a;

  h3 {
    color: $brand_chrome_d;
    margin-top: 0;
  }

  a {
    display: block;
    padding: 2px 0;
  }
}

// ------------------------------------
// homepage GOV.UK news

.govuknews-date {
	color: #6f777b;
	display: block;
}

// ------------------------------------
// homepage graph summaries

.graph-summary {
	color: #ffffff;
	margin-bottom: 15px;
	&:link {
		text-decoration: none;
	}
	&.graph-summary-orange {
		.stat {
			background-color: $brand_color_a;
		}
	}
	&.graph-summary-teal {
		.stat {
			background-color: #30a197;
		}
	}
	&.graph-summary-blue {
		.stat {
			background-color: #318dc2;
		}
	}
	&.graph-summary-pink {
		.stat {
			background-color: #f29abe;
		}
	}
	.stat {
		background-position: center 30px;
		background-repeat: no-repeat;
		background-size: 45%;
		padding: 15px 15px 15px 15px;
		text-align: center;

		color: #ffffff;
	}
	.stat-number {
		display: none;
		/*font-size: 82px;*/
		/*font-weight: bold;*/
		/*line-height: 90px;*/
		visibility: hidden;

		@media (min-width: $screen_medium) {
			display: block;
		}
	}
	.stat-description {
		display: block;
		font-size: $text_xsmall;
		line-height: 1.25;
		font-weight: bold;
		margin: 80px 0px 0px 0px;

		color: #ffffff;

		@media (min-width: $screen_medium) {
			margin: 50px 0px 10px 0px;
		}
	}
}

.howdoi-description {
	display: block;
	font-size: $text_xsmall;
	line-height: 1.25;
	margin-top: 0;
}

// ------------------------------------
// homepage how to links

.how-tos {
	margin: 10px 0 0;
	li {
		font-size: $text_xsmall;
		line-height: 1.25;
		margin-bottom: 12px;
	}
}

// ------------------------------------
// homepage tweets

.tweet {
	.tweet-profile-image {
		float: left;
		width: 17%;
	}
	.tweet-body {
		float: left;
		font-size: $text_xsmall;
		line-height: 1.25;
		width: 83%;
		.tweet-meta {
			margin-left: 20px;
		}
		.tweet-content {
			color: #6f777b;
			font-size: $text_xsmall;
			line-height: 1.25;
			margin-left: 20px;
			padding-top: 4px;
			a {
				word-break: break-all;
			}
		}
		a, date, span {
			display: inline-block;
			padding-right: 0.25em;
		}
		.tweet-username {
			font-weight: bold;
		}
		.tweet-date {
			color: #6f777b;
			&:before {
				content: '\2022';
			}
		}
	}
}

// ------------------------------------
// misc. type

.homepage-top .heading-large {
	color: #FFFFFF !important;
}


.section-note {
	color: #6f777b;
	float: right;
	font-size: 14px;
	margin-top: 30px;
	text-align: right;
	&.section-note-top {
		margin-bottom: 20px;
		margin-top: 0px;
	}
	p {
		margin: 0;
	}
}
