a {
	color: $brand_color_a;
	text-decoration: underline;

	&:hover {
		color: $brand_color_a;
		text-decoration: none;
	}

	&:active {
		color: $brand_color_a;
	}

	&:visited {
		color: $brand_color_b;
	}

}
