/* Lists */

ul,
ol {
	margin: 0px 0px 20px 0px;
	padding: 0px 20px;
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	margin-bottom: 5px;
}

/* List style A */

ul.list-style-a,
ol.list-style-a {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.list-style-a {
	.related-content & {
		margin-bottom: 20px;
	}

  .icon {
    vertical-align: middle;
    margin-right: 4px;
  }
}
