/* Topics page */

#topics {
	.heading-large {
		margin-top: 0px; /* Override */
	}
}

.topic-container {
	.heading-medium {
		margin-top: 0px; /* Override */
	}
}

.topic {
	position: relative;
}

.topic-controls {
	position: relative;
	padding-top: 5px;
	cursor: pointer;

	&:before {
		content:'';
		opacity: 1;
		position: absolute;
		bottom: 100%;
		left: 0px;
		width: 100%;
		background: asset-data-url('accordion-readmore-grad.png');
		background-size: 100% 30px;
		background-repeat: no-repeat;
		height: 30px;

		transition: opacity 300ms ease-in-out;
	}

	.in & {
		&:before {
			z-index: -1;
		}
	}

	.visible & {
		&:before {
			opacity: 0;
		}
	}
}

.topic-toggle {
	position: relative;
	display: block;

	font-weight: 700;
	text-decoration: underline;

	&:before {
		content: '+';
		display: inline-block;
		padding-right: 10px;
	}

	.visible & {
		&:before {
			content: '−';
		}
	}
}

.topics-list {
	position: relative;
	a {
		position: relative;
		/*z-index: 9999;*/
	}
}

.topics-list-extra {
	height: 0px;
	overflow: hidden;
	transition: height 1000ms ease-in-out;
}
