/* Beta label */

.beta-label {
	display: -moz-inline-stack;
	display: inline-block;
	margin: 0px 7px 0px 0px;
	padding: 2px 5px 0;
	//font-family: $font_family_main;
	font-weight: 700;
	text-transform: none;
	font-size: 16px;
	line-height: 1;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	background-color: #005ea5;
	padding: 3px 6px;
}
