/* Breadcrumb */

ul.breadcrumb {
	padding: 19px 0px;
	margin: 0;
	/*padding: 0.5em 0px;*/
	li {
		position: relative;
		display: inline-block;
		padding: 0px 14px;
		font-size: 16px;

		a {
			color: #000000;
		}

		&:before {
			content: '';
			position: absolute;
			top: 5px;
			left: -4px;
			@include background-image('spacer', png, 7px, 12px);
			background-repeat: no-repeat;
			width: 7px;
			height: 12px;
		}

		&:first-of-type {
			padding: 0px 14px 0px 0px;
			&:before {
				background-image: none;
			}
		}
	}
}
