/* Footer */

// ----------------------------------------------------
// Overrides

#footer {
	border-top: 16px solid $brand_color_a;

	.heading-xsmall {
		font-weight: 700;
	}

	.footer-meta-inner {
		li {
			font-size: 16px;
		}
	}

	.acknowledgements {
		p {
			font-size: 16px;
		}
	}

	.open-government-licence {
		display: none;
		visibility: hidden;
		.logo {
			visibility: hidden;
			display: none;
		}
	}
}

.footer-wrapper {
	ul {
		margin-bottom: 30px;
		li {
			margin-bottom: 10px;
		}
	}
}

@media (min-width: $screen_small) {
	.section-note {
		&.section-note-top {
			margin-top: 15px;
			margin-bottom: 0;
		}
	}

	.footer-wrapper {
		margin-bottom: 0;
	}
}

// ----------------------------------------------------
