.global-notification {
	background-color: $brand_color_c;

	p {
		position: relative;
		font-size: $text_xsmall;
		line-height: 1.25;
		margin: 0;
		color: #FFFFFF;
		padding: 10px 0px 10px 65px;

		&:before {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			@include background-image('urgent-icon', png, 51px, 35px);
			background-repeat: no-repeat;
			width:51px;
			height: 35px;
			margin-top: 4px;
		}
	}

	a {
		color: #FFFFFF;
		font-weight: 700;
	}
}

.global-notification-inner {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px 5px;
}
