/* People finder */

.people-search-inner-page {
	background: #454a4c;
	@include background-image('find-people-pattern', png, 1495px, 490px);
	@extend %clearfix;

	.homepage-top-inner {
		overflow: hidden;
		position: relative;
		max-width: 960px;
		text-align: left;
		margin: 0 auto;
		padding: 0px;
		.search-people-form {
			width: 100%;
		}
		@media (min-width: $screen_medium) {
			padding: 0px 15px;
		}
	}

	.govuk-search {
		margin: 10px 0 10px 10px;
	}

	.search-people-form {
		width: 50%;
		float: left;
		.search-wrapper {
			width: 97.5%;
		}
	}

	.user-account {
		display: none;
		width: 31%;
		float: right;
		background: $brand_color_c; /* For unsupported browsers */
		background: rgba($brand_color_c, 0.3); /* IE8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$brand_color_c, endColorstr=$brand_color_c)"; /* IE8 */
		text-align: right;

		.maginot {
			float: right;
			a {
				display: block;
				padding: 0;
			}
		}

		a {
			position: relative;
			padding: 14px 18px 10px 0px;
			display: inline-block;
			font-weight: 700;
      line-height: 18px;
			text-decoration: none;
			color: #FFFFFF;
		}

    .update-account {
        display: block;
        font-size: 75%;
        font-weight: 500;
        text-decoration: underline;
    }
	}

	.user-account-profile-img {
		width: 60px;
		max-height: 100%;
		float: right;
	}
}

@media(min-width: $screen_medium) {
	.people-search-inner-page {
		.homepage-top-inner {
			.search-people-form {
				width: 50%;
				.search-wrapper {
					width: 87%;
				}
			}
		}
		.user-account {
			display: block;
		}
	}
}
