.policy-notification-update {
	p {
		position: relative;
		padding-left: 26px;

		font-size: 18px;
		font-weight: 700;
		color: $brand_color_c;
		line-height: 1;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 16px;
			height: 16px;
			@include background-image('policy-update', png, 16px, 16px);
			background-repeat: no-repeat;
		}
	}
}

.policy-notification-content {
	padding: 20px 30px;
	border: 2px solid #000000;
	background-color: lighten($brand_color_c, 50%);
	margin-bottom: 20px;
}

.policy-meta {
	display: block;
	font-size: 14px;
	color: $brand_chrome_d;
}

.policy-meta-type {
	text-transform: capitalize;
}