.post-meta {
	color: #6f777b;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: $text_xsmall;
	line-height: 1.25;

	@media(min-width: $screen_medium) {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.dates-published-updated {
	margin-bottom: 30px;

	li {
		color: $brand_chrome_e;
		&:last-of-type {
			font-weight: 700;
		}
	}
}
