/* Zendesk */

.zd-confirmation {
	position: relative;
    margin: 10px auto 0;
    max-width: 960px;
    width: 100%;
    color: white;
    background-color: $brand_color_a;
    font-weight: 700;
    span {
    	display: block;
    	padding: 20px;
    }
}

.zendesk-container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;

	@media (min-width: $screen_large) {
		padding: 0;
	}

	hr {
		margin: 0px;
	}

	p {
		margin: 5px 0;
	}
}

.zendesk-footer {
	padding-bottom: 10px;
}

#feedback_container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0px;

	.form-label {
		display: block;
		font-size: 19px;
		font-weight: 700;
		line-height: 1.31579;
	}

	#new_problem_report {
		height: 0px;
		margin-bottom: 85px;
		overflow: hidden;
		padding: 0 10px;
		transition: height 1s;
	}

	#feedbackToggle {
		margin-left: 10px;
		&:before {
			content: "\25BC ";
		}
		&.open {
			&:before {
				content: "\25B2 ";
			}
		}
		&:visited {
			color: $brand_color_a;
		}
	}

	.button {
		margin-bottom: 5px;
	}

	textarea {
		height: 3em;
		&.form-control {
			width: 95%;
			-webkit-appearance: none;
			border-radius: 0;
		}
	}

	@media (min-width: $screen_large) {
		padding: 0;
	}

	.form-group {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		width: 100%;
		margin-bottom: 15px;
		@media (min-width: $screen_medium) {
			margin-bottom: 30px;
		}
	}

	hr {
		margin: 0px;
	}

	p {
		margin: 5px 0;
	}

	#content {
		outline: none;
		padding-bottom: 30px;
		@media (min-width: $screen_medium) {
			padding-bottom: 90px;
		}
	}
}