.pagination-a {
	.prev {
		display: inline-block;
		text-align: left;
		width: 20%;
	}
	.pages {
		display: inline-block;
		text-align: center;
		width: 55%;
	}
	.next {
		display: inline-block;
		text-align: right;
		width: 20%;
	}
}
