- content_for :body_classes do
  - 'section-working-at-dit'
- if flash[:notice]
  .zd-confirmation
    %span
      = flash[:notice]
%div{:id => 'howdoi', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  /= render partial: "widgets/zendesk_header"
  = render partial: "widgets/content_howdois_all"
= render partial: "widgets/zendesk_footer"
