%div{:id => 'generic_content', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          %li
            =link_to( 'Tools', "/tools/" )

    .grid-row
      - @content.each do |p|
        .column-two-thirds
          %hr{:class => 'rule-small rule-top'}
            %h2.heading-medium
              = p["title"]["rendered"]
            = p["content"]["rendered"].html_safe
        .column-third
          %hr{class: 'rule-large rule-top'}

