%div{:id => 'content', :class => 'page-content'}
  = render partial: "widgets/people_search_inner_page"
  %main#content.root-index.content-section
    .grid-row
      .column-full
        %ul.breadcrumb
          %li
            = link_to( 'Home', "/" )
          %li
            xxxxx

    .grid-row
      .column-two-thirds
        - if @posts.present?
          - @posts.each do |p|
            .news-item
              %h2.heading-large
                %hr{:class => 'rule-small'}
                = p["title"]["rendered"]
            = p["content"]["rendered"].html_safe

      .column-third.news-category
        %hr{class: 'rule-large'}


